.persoo-block--collect-email {
    text-align: center;
    margin-bottom: 15px;
}
#persoo--<%= offerID %>__form {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}
.persoo-block--collect-email__form__email {
    display: inline-block;
    max-width: 100%;
    -ms-flex: 3;
    -webkit-flex: 3;
    flex: 3;
}
.persoo-block--collect-email__form__submit {
    display: inline-block;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.persoo-block--collect-email__form__thank-you {
    display: none;
}