<div
    id="persoo--<%= offerID %>"
    class="persoo--contentBlock persoo--widget"
    data-inner-location-id="persoo--<%= offerID %>__content"
>
    <div id="persoo--<%= offerID %>__wrapper" class="persoo--contentBlock__wrapper">

        @@include templateParts/backgroundImageBlock/template.html

        <div id="persoo--<%= offerID %>__content" class="persoo--contentBlock__content persoo--widget__content">

                @@include templateParts/innerContentBlock/template.html

        </div>
    </div>

    <style type="text/css">

        @@include templateParts/backgroundImageBlock/template.css
        @@include templateParts/innerContentBlock/template.css

        .persoo--contentBlock__wrapper {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            overflow: hidden;
            zoom: 1;
            padding: 20px;
            @@include templateParts/persooBorderStyles/template.css
        }
        .persoo--contentBlock__content {
            position: relative;
            height: 100%;
        }

        #persoo--<%= offerID %> .persoo--contentBlock,
        #persoo--<%= offerID %> .persoo--contentBlock h1,
        #persoo--<%= offerID %> .persoo--contentBlock h2,
        #persoo--<%= offerID %> .persoo--contentBlock h3,
        #persoo--<%= offerID %> .persoo--contentBlock h4,
        #persoo--<%= offerID %> .persoo--contentBlock h5,
        #persoo--<%= offerID %> .persoo--contentBlock h6 {
            color: <%= textColor %>;
        }

    </style>
    <style type="text/css">

        <%= customCSS %>

    </style>

    <script type="text/javascript">

        window.persoo = window.persoo || function () {}; /* TODO until having persoo in preview */

    </script>
    <script type="text/javascript">

        <%= customJS %>

    </script>
</div>
