<div class="persoo-block persoo-block--cta">
    <a
        id="persoo--<%= offerID %>__cta__button"
        class="persoo-block--cta__<%= ctaActionType == 'button' ? 'link' : 'background-link' %>"
        href="<%= ctaButtonLink && ctaAction == 'redirect' ? ctaButtonLink : '#' %>"
        target="_blank"
        onclick="return persoo_cta_clicked_<%= offerID %>(event);"
    >
        <%= ctaActionType == 'button' ? ctaButtonLabel : '' %>
    </a>
    <script>
    function persoo_cta_clicked_<%= offerID %>(event) {
        var offerID="<%= offerID %>";
        <%= ctaOnClickCallback %>;

        <% if (ctaAction == 'coupon') { %>
            document.getElementById("persoo--<%= offerID %>__cta__button").style.display = "none";
            document.getElementById("persoo--<%= offerID %>__coupon").style.display = "inline-block";
            window.persoo('send', 'showCoupon', {offerID: "<%= offerID %>"});
            return false;
        <% } else if (ctaAction == 'close') { %>
            persoo_close_<%= offerID %>();
            return false;
        <% } else { %>
            window.persoo('send', 'callToActionClick', {offerID: "<%= offerID %>"});
        <% } %>
    }
    </script>
    <% if (ctaAction == 'coupon') { %>
        <span id="persoo--<%= offerID %>__coupon" class="persoo-block--cta__coupon">
            <%= ctaButtonCoupon %>
        </span>
    <% } %>
</div>
