<%
var offerID = offerID || 'randomOfferID';

const baseZIndex = 1000200;

function getBoxWidth(boxSize, width) {
    var getWidth = {
        "s": 230,
        "m": 460,
        "l": 720,
    };
    var w = getWidth[boxSize];
    if (!w) { /* custom */
        w = width;
    }
    return w;
}

var boxWidth = getBoxWidth(size, customWidth);
var boxHeight = (size == 'custom' && !autoHeight ? customHeight : "auto");
var boxHeightWithPx = (size == 'custom' && !autoHeight ? customHeight + "px" : "auto");

var getPosition = {
    center: {top: "50%", left: "50%", transform: "translate(-50%, -50%)"},
    left: {top: "50%", left: "0", margin_left: 15, transform: "translate(0%, -50%)"},
    right: {top: "50%", right: "0", margin_right: 15, transform: "translate(0%, -50%)"},
    top: {left: "50%", top: "0", margin_left: -boxWidth/2, margin_top: 15},
    bottom: {left: "50%", bottom: "0", margin_left: -boxWidth/2, margin_bottom: 15},
    bottomLeft: {bottom: "0", left: "0", margin_bottom: 15, margin_left: 15},
    bottomRight: {bottom: "0", right: "0", margin_bottom: 15, margin_right: 15}
};

var animationDurationInSec = (animationDuration || 0)/1000 + "s";
var getAnimationProps = {
    fade: {
        start: {
            opacity: "0"
        },
        stop: {
            opacity: "1"
        }
    },
    left_to_right: {
        start: {
            left: getPosition[position].left ? "-50%" : "",
            right: getPosition[position].right ? "150%" : ""
        },
        stop: {
            left: getPosition[position].left,
            right: getPosition[position].right
        }
    },
    right_to_left: {
        start: {
            left: getPosition[position].left ? "150%" : "",
            right: getPosition[position].right ? "-50%" : ""
        },
        stop: {
            left: getPosition[position].left,
            right: getPosition[position].right
        }
    },
    up_to_down: {
        start: {
            top: getPosition[position].top ? "-50%" : "",
            bottom: getPosition[position].bottom ? "150%" : ""
        },
        stop: {
            top: getPosition[position].top,
            bottom: getPosition[position].bottom
        }
    },
    down_to_up: {
        start: {
            top: getPosition[position].top ? "150%" : "",
            bottom: getPosition[position].bottom ? "-50%" : ""
        },
        stop: {
            top: getPosition[position].top,
            bottom: getPosition[position].bottom
        }
    }
};
%>

<div
    id="persoo--<%= offerID %>"
    class="persoo--popup persoo--widget"
    data-animate-closing="false"
    data-inner-location-id="persoo--<%= offerID %>__box"
>

    <% if (useOverlay) { %>
        <div
            class="persooAction persoo--popup__overlay"
            <%= closeOnClickOutside ? 'onclick="persoo_close_' + offerID + '()"' : '' %>
        >
        </div>
            <% if (showClosingX && closingXPosition === 'page'){ %>
                <a
                    class="persooAction persoo--popup__close-x"
                    href="javascript:persoo_close_<%= offerID %>();"
                >
                    <span class="persoo--popup__icon"></span>
                </a>
            <% } %>
    <% } %>

    <div id="persoo--<%= offerID %>__box" class="persoo--popup__box">
        <% if (showClosingX && closingXPosition !== 'page'){ %>
            <a
                class="persooAction persoo--popup__close-x"
                href="javascript:persoo_close_<%= offerID %>();"
            >
                <span class="persoo--popup__icon"></span>
            </a>
        <% } %>

        <div class="persoo--popup__scrollWrapper">
            <div class="persoo--popup__wrapper">

                @@include templateParts/backgroundImageBlock/template.html

                <div id="persoo--<%= offerID %>__content" class="persoo--popup__content persoo--widget__content">

                    @@include templateParts/innerContentBlock/template.html

                </div>
                <div class="persoo-block persoo-block--separator"></div>
                <div class="persoo--popup__dismiss-links">
                    <a
                        class="persooAction persoo--popup__dismiss-links--close"
                        data-action="close"
                        href="javascript:persoo_close_<%= offerID %>()"
                    >
                        <%= closingTextInFooter %>
                    </a>
                </div>
             </div>
         </div>
    </div>

    <style type="text/css">

         @@include templateParts/backgroundImageBlock/template.css
         @@include templateParts/innerContentBlock/template.css

        <% if (showAfterMillis > 0) { %>
            #persoo--<%= offerID %> {
                display: none;
            }
        <% } %>

        .persoo--popup,
        .persoo--popup * {
            box-sizing: border-box;
        }

        .persoo--popup {
            line-height: normal;
            visibility: visible;
        }
        .persoo--popup__box {
            -webkit-font-smoothing: antialiased;
            position: fixed;
            opacity: 1;
        }
        #persoo--<%= offerID %> .persoo--popup__box {
            z-index: <%= baseZIndex %>;
            font-family: <%= textFont %>;
            <%= getPosition[position].top ? 'top: '+ getPosition[position].top +';' : '' %>
            <%= getPosition[position].bottom ? 'bottom: '+ getPosition[position].bottom +';' : '' %>
            <%= getPosition[position].left ? 'left: '+ getPosition[position].left +';' : '' %>
            <%= getPosition[position].right ? 'right: '+ getPosition[position].right +';' : '' %>
            <%= getPosition[position].margin_top ? 'margin-top: '+ getPosition[position].margin_top +'px;' : '' %>
            <%= getPosition[position].margin_bottom ? 'margin-bottom: '+ getPosition[position].margin_bottom +'px;' : '' %>
            <%= getPosition[position].margin_left ? 'margin-left: '+ getPosition[position].margin_left +'px;' : '' %>
            <%= getPosition[position].margin_right ? 'margin-right: '+ getPosition[position].margin_right +'px;' : '' %>
            <%= getPosition[position].transform ?
                    '-ms-transform: '+ getPosition[position].transform +';' +
                    '-webkit-transform: '+ getPosition[position].transform +';' +
                    'transform: '+ getPosition[position].transform +';'
                    : '' %>
        }
        #persoo--<%= offerID %> .persoo--popup__box,
        #persoo--<%= offerID %> .persoo--popup__box h1,
        #persoo--<%= offerID %> .persoo--popup__box h2,
        #persoo--<%= offerID %> .persoo--popup__box h3,
        #persoo--<%= offerID %> .persoo--popup__box h4,
        #persoo--<%= offerID %> .persoo--popup__box h5,
        #persoo--<%= offerID %> .persoo--popup__box h6 {
            color: <%= textColor %>;
        }
        .persoo--popup__wrapper > div:last-child,
        .persoo--popup__content > div:last-child {
            margin-bottom: 0 !important;
        }
        .persoo--popup__wrapper {
            position: relative;
            width: <%= getBoxWidth(size, customWidth) %>px;
            height: <%= boxHeightWithPx %>;
            overflow: hidden;
            background-clip: padding-box;
            zoom: 1;
            display: -webkit-flex;
            -webkit-flex-direction: column;
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
        .persoo--popup__scrollWrapper {
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 1000px; /* screen height */
        }
        #persoo--<%= offerID %> .persoo--popup__scrollWrapper {
            @@include templateParts/persooBorderStyles/template.css
        }

        .persoo--popup__content {
            position: relative;
            <%= (size == "custom" && autoHeight == false) ? "-webkit-flex: 1;flex: 1;" : "" %>
        }

        .persoo--popup__dismiss-links {
            text-align:center;
        }
        .persoo--popup__dismiss-links--close {
            font-size: 12px;
            text-decoration: underline;
            margin-left: 10px;
        }
        #persoo--<%= offerID %> .persoo--popup__dismiss-links--close {
            color: <%= textColor %>;
        }

        .persoo--popup__close-x {
            display: inline-block;
            box-sizing: content-box;
            position: absolute;
            text-align: center;
            opacity: 1;
            cursor: pointer;
        }
        .persoo--popup__close-x:hover {
            opacity: 0.8;
        }
        #persoo--<%= offerID %> .persoo--popup__close-x {
            z-index: <%= baseZIndex + 1 %>;
            color: <%= closeXColor %>;
            <% if (closingXPosition === 'page') { %>
                position: fixed;
                font-size:32px;
                right: 6px;
                top: 12px;
            <% } else if (closingXPosition === 'in') { %>
                right:3px;
                top:3px;
            <% } else if (closingXPosition === 'right') { %>
                background-color: transparent;
                right:-24px;
                top:0px;
                font-size:20px;
                line-height: 20px;
            <% } else if (closingXPosition === 'top') { %>
                background-color: transparent;
                right:0px;
                top:-24px;
                font-size:20px;
                line-height: 20px;
            <% } else if (closingXPosition === 'border') { %>
                background-color:black;
                right:-10px;top:-10px;
                width:24px;
                height:24px;
                font-size:18px;
                line-height: 24px;
                border-radius:100%;
                -moz-border-radius:100%;
                -webkit-border-radius:100%;
                border:2px solid <%= closeXColor %>;
            <% } %>
        }

        .persoo--popup__close-x > span.persoo--popup__icon:before{
            content:"\2716";
            display: block;
            font-weight: normal;
            font-style: normal;
            text-align: center;
            -webkit-font-smoothing: antialiased;
        }
        <% if (closingXPosition === 'page' || closingXPosition === 'right') { %>
            #persoo--<%= offerID %> persoo--popup__close-x > span.persoo--popup__icon:before{
                content:"\2715";
            }
        <% } %>
        .persoo--popup__overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        #persoo--<%= offerID %> .persoo--popup__overlay {
            z-index: <%= baseZIndex - 1 %>;
            background-color: <%= overlayColor %>;
        }

        /* utility classes */

        .persoo--popup__icon {
            background: transparent;
            display: inline-block;
            box-sizing: content-box;
            font-style: normal;
            vertical-align: middle;
            position: relative;
        }

        <% if (animationEffect && animationEffect != 'none') {
            var animationProps = getAnimationProps[animationEffect];
        %>
            @keyframes persoo--<%= offerID %>__overlayAnimation {
                0% { opacity: 0; }
                100% { opacity: 1; }
            }
            @-webkit-keyframes persoo--<%= offerID %>__overlayAnimation {
                0% { opacity: 0; }
                100% { opacity: 1; }
            }
            @keyframes persoo--<%= offerID %>__animation {
                0% {
                    <%= animationProps.start.left ? 'left: ' + animationProps.start.left + ';' : '' %>
                    <%= animationProps.start.right ? 'right: ' + animationProps.start.right + ';' : '' %>
                    <%= animationProps.start.top ? 'top: ' + animationProps.start.top + ';' : '' %>
                    <%= animationProps.start.bottom ? 'bottom: ' + animationProps.start.bottom + ';' : '' %>
                    <%= animationProps.start.opacity ? 'opacity: ' + animationProps.start.opacity + ';' : '' %>
                }
                100% {
                    <%= animationProps.stop.left ? 'left: ' + animationProps.stop.left + ';' : '' %>
                    <%= animationProps.stop.right ? 'right: ' + animationProps.stop.right + ';' : '' %>
                    <%= animationProps.stop.top ? 'top: ' + animationProps.stop.top + ';' : '' %>
                    <%= animationProps.stop.bottom ? 'bottom: ' + animationProps.stop.bottom + ';' : '' %>
                    <%= animationProps.stop.opacity ? 'opacity: ' + animationProps.stop.opacity + ';' : '' %>
                }
            }
            @-webkit-keyframes persoo--<%= offerID %>__animation {
                0% {
                    <%= animationProps.start.left ? 'left: ' + animationProps.start.left + ';' : '' %>
                    <%= animationProps.start.right ? 'right: ' + animationProps.start.right + ';' : '' %>
                    <%= animationProps.start.top ? 'top: ' + animationProps.start.top + ';' : '' %>
                    <%= animationProps.start.bottom ? 'bottom: ' + animationProps.start.bottom + ';' : '' %>
                    <%= animationProps.start.opacity ? 'opacity: ' + animationProps.start.opacity + ';' : '' %>
                }
                100% {
                    <%= animationProps.stop.left ? 'left: ' + animationProps.stop.left + ';' : '' %>
                    <%= animationProps.stop.right ? 'right: ' + animationProps.stop.right + ';' : '' %>
                    <%= animationProps.stop.top ? 'top: ' + animationProps.stop.top + ';' : '' %>
                    <%= animationProps.stop.bottom ? 'bottom: ' + animationProps.stop.bottom + ';' : '' %>
                    <%= animationProps.stop.opacity ? 'opacity: ' + animationProps.stop.opacity + ';' : '' %>
                }
            }
            #persoo--<%= offerID %> .persoo--popup__overlay {
                animation: persoo--<%= offerID %>__overlayAnimation <%= animationDurationInSec %> ease 0s 1 normal;
                -webkit-animation: persoo--<%= offerID %>__overlayAnimation <%= animationDurationInSec %> ease 0s 1 normal;
            }
            #persoo--<%= offerID %> .persoo--popup__box {
                animation: persoo--<%= offerID %>__animation <%= animationDurationInSec %> ease 0s 1 normal;
                -webkit-animation: persoo--<%= offerID %>__animation <%= animationDurationInSec %> ease 0s 1 normal;
            }

            #persoo--<%= offerID %>[data-animate-closing="true"] .persoo--popup__box {
                <%= animationProps.start.left ? 'left: ' + animationProps.start.left + ';' : '' %>
                <%= animationProps.start.right ? 'right: ' + animationProps.start.right + ';' : '' %>
                <%= animationProps.start.top ? 'top: ' + animationProps.start.top + ';' : '' %>
                <%= animationProps.start.bottom ? 'bottom: ' + animationProps.start.bottom + ';' : '' %>
                opacity: 0;
                transition: all <%= animationDurationInSec %> ease;
            }
        <% } %>

        /* reset css inside content */
        #persoo--<%= offerID %>__content h1,
        #persoo--<%= offerID %>__content p {
            font: <%= textFont %>;
            color: <%= textColor %>;
        }

    </style>
    <style type="text/css">
        <%= customCSS %>
    </style>

    <script type="text/javascript">
        window.persoo = window.persoo || function () {}; /* TODO until having persoo in preview */

        function persooPopupInit_<%= offerID %>() {
            var elem = document.querySelector("#persoo--<%= offerID %> .persoo--popup__scrollWrapper");
            elem.style.maxHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0) + "px";

            if (<%= boxWidth %> > Math.max(document.documentElement.clientWidth, window.innerWidth || 0) ||
               navigator.userAgent.match(/MSIE [78]\./i)
               ) {
                elem = document.getElementById("persoo--<%= offerID %>");
                elem.style.display = "none";
                console.log("Persoo: ignoring pop-up because screen is too small or browser too old.");
            } <% if (showAfterMillis > 0) { %>
                else {
                    setTimeout(function () {
                        elem = document.getElementById("persoo--<%= offerID %>");
                        elem.style.display = "block";
                    }, <%= showAfterMillis %>);
                }
            <% } %>
        }
        persooPopupInit_<%= offerID %>();

        function persoo_close_<%= offerID %>(href) {
            var elem = document.getElementById("persoo--<%= offerID %>");
            window.persoo('send', 'close', {offerID: "<%= offerID %>"});
            if (href) {
                window.location.href = href;
            }

            elem.setAttribute("data-animate-closing", "true");
            window.setTimeout(function () {
                elem.style.display = "none";
                elem.setAttribute("data-animate-closing", "false");
            }, <%= animationEffect === "none" ? 0 : animationDuration %>);
        }
    </script>
    <script type="text/javascript">
        <%= customJS %>
    </script>
</div>
