<%
var zIndex = 100100;

var boxWidths = {
    "s": 120,
    "m": 230,
    "l": 460,
};
var boxWidth = boxWidths[size];
if (!boxWidth) { /* custom */
    boxWidth = customWidth;
}

var boxHeightWithPx = (size == 'custom' && !autoHeight ? customHeight + "px" : "auto");

var boxShadowSizesInPx = {
    "none": 0,
    "low": 6,
    "high": 12
};
var boxShadowSize = boxShadowSizesInPx[boxShadow];

var tabHeights = {
    "0": 42,
    "5": 42,
    "15": 42,
    "9999": 50
};
var tabHeight = tabHeights[boxCorners];

var tabInnerPaddings = {
    "0": "0.3em 1em",
    "5": "0.3em 1em",
    "15": "0.3em 1.2em",
    "9999": "0.5em 2em"
};
var tabInnerPadding = tabInnerPaddings[boxCorners];
%>

<div
    id="persoo--<%= offerID %>"
    class="persoo--widget"
    data-inner-location-id="persoo--<%= offerID %>__wrapper"
    <%= openOn === "click" ? " data-visible=false" : "" %>
>
    <div class="persoo--sidebox">
        <div class="persoo--sidebox__tab">
            <div id="persoo--<%= offerID %>__tab__inner" class="persoo--sidebox__tab__inner">
                <%= tab %>
            </div>
        </div>
        <div class="persoo--sidebox__scrollWrapper">
            <div id="persoo--<%= offerID %>__wrapper" class="persoo--sidebox__wrapper">

                @@include templateParts/backgroundImageBlock/template.html

                <div id="persoo--<%= offerID %>__content" class="persoo--sidebox__content  persoo--widget__content">

                    @@include templateParts/innerContentBlock/template.html

                </div>
            </div>
        </div>
    </div>

    <style type="text/css">

        @@include templateParts/backgroundImageBlock/template.css
        @@include templateParts/innerContentBlock/template.css

        .persoo--sidebox,
        .persoo--sidebox * {
            box-sizing: border-box;
        }

        .persoo--sidebox__wrapper {
            padding: 20px;
        }
        .persoo--sidebox__content > :first-child,
        .persoo--sidebox__content > :first-child > :first-child {
            margin-top: 0px;
        }

        #persoo--<%= offerID %> .persoo--sidebox {
            z-index: <%= zIndex %>;
            position: fixed;
            top: <%= positionTop %>px;
            width: <%= boxWidth %>px;
            <% if (position === "left") { %>
                left: 0;
                margin-left: <%= -boxWidth %>px;
            <% } else if (position === "right") { %>
                right: 0;
                margin-right: <%= -boxWidth %>px;
            <% } %>
            transition: all <%= openOn === "hover" ? 0.35 : 0.15 %>s 0.075s cubic-bezier(0.25, 0.25, 0.75, 0.75);
        }
        #persoo--<%= offerID %> .persoo--sidebox,
        #persoo--<%= offerID %> .persoo--sidebox h1,
        #persoo--<%= offerID %> .persoo--sidebox h2,
        #persoo--<%= offerID %> .persoo--sidebox h3,
        #persoo--<%= offerID %> .persoo--sidebox h4,
        #persoo--<%= offerID %> .persoo--sidebox h5,
        #persoo--<%= offerID %> .persoo--sidebox h6 {
            color: <%= textColor %>;
        }

        #persoo--<%= offerID %> .persoo--sidebox__tab {
            position: absolute;
            display: block;
            z-index: <%= zIndex%>;
            bottom: 100%;
            <% if (position === "left") { %>
                left: 100%;
                transform: rotate(90deg);
                transform-origin: left bottom;
                -webkit-transform: rotate(90deg);
                -webkit-transform-origin: left bottom;
                -ms-transform: rotate(90deg);
                -ms-transform-origin: left bottom;
            <% } else { %>
                right: 100%;
                transform: rotate(270deg);
                transform-origin: right bottom;
                -webkit-transform: rotate(270deg);
                -webkit-transform-origin: right bottom;
                -ms-transform: rotate(270deg);
                -ms-transform-origin: right bottom;
            <% } %>
        }
        #persoo--<%= offerID %> .persoo--sidebox__tab__inner {
            display: inline-flex;
            align-items: center;
            font-weight: bold;
            font-size: large;
            height: <%= tabHeight %>px;
            background: <%= tabBackground %>;
            color: <%= tabColor %>;
            border-radius: <%= boxCorners %>px <%= boxCorners %>px 0 0;
            padding: <%= tabInnerPadding %>;
            text-decoration: none;
            white-space: nowrap;
            box-shadow: <%= boxShadowColor %> <%= position === "left" ? boxShadowSize / 2 : boxShadowSize / -2 %>px 0px <%= boxShadowSize %>px;
            zoom: 1;
        }

        .persoo--sidebox__scrollWrapper {
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 1000px;
        }
        #persoo--<%= offerID %> .persoo--sidebox__scrollWrapper {
            border-radius: <%= position === "left" ? "0 0 " + boxCorners + "px 0" : "0 0 0 " + boxCorners + "px" %>;
            border: <%= borderSize %>px solid <%= borderColor %>;
            box-shadow: <%= boxShadowColor %> 0px <%= boxShadowSize / 2 %>px <%= boxShadowSize %>px;
        }
        #persoo--<%= offerID %> .persoo--sidebox__wrapper {
            position: relative;
            z-index: <%= zIndex + 1 %>;
            width: <%= boxWidth %>px;
            height: <%= boxHeightWithPx %>;
            overflow: hidden;
            zoom: 1;
        }
        #persoo--<%= offerID %>[data-visible='true'] .persoo--sidebox {
            <% if (position === "left") { %>
                margin-left: 0px;
            <% } else if (position === "right") { %>
                margin-right: 0px;
            <% } %>
        }
        #persoo--<%= offerID %> .persoo--sidebox__content {
            position: relative;
            height: 100%;
        }
    </style>
    <style type="text/css">
        <%= customCSS %>
    </style>

    <script type="text/javascript">
        window.persoo = window.persoo || function () {}; /* TODO until having persoo in preview */

        function persooSidebox_<%= offerID %>() {
            var elem = document.querySelector("#persoo--<%= offerID %> .persoo--sidebox__scrollWrapper");
            var boxMaxHeight = (Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - <%= positionTop %>);
            elem.style.maxHeight = boxMaxHeight  + "px";

            if (<%= boxWidth %> > Math.max(document.documentElement.clientWidth, window.innerWidth || 0)) {
                var elem = document.getElementById("persoo--<%= offerID %>");
                elem.style.display = "none";
                console.log("Persoo: ignoring side-box because screen is too small or browser too old.");
            }

            function reportEvent(persooEventID) {
                if (reportedEventCount[persooEventID]) {
                    reportedEventCount[persooEventID] += 1;
                } else {
                    reportedEventCount[persooEventID] = 1;
                    window.persoo("send", persooEventID, {/* locationID: "<%= offerID %>",*/ offerID: "<%= offerID %>"});
                }
            }

            function isSideboxVisible() {
                return persooWidget.getAttribute("data-visible") === "true";
            }

            function onClickOutside(e) {
                if (!persooWidget.contains(e.target)) {
                    toggleSidebox();
                }
            }

            function onScrollOutside() {
                if (!isMouseOverWidget) {
                    toggleSidebox();
                }
            }

            function onMouseOver(isMouseEnter) {
                isMouseOverWidget = isMouseEnter;
                <% if (openOn === "hover") { %>
                    toggleSidebox(isMouseEnter);
                <% } %>
            }

            function toggleSidebox(forcedValue) {
                var isVisible = isSideboxVisible();
                var nextIsVisible = (typeof forcedValue == 'boolean') ? forcedValue : !isVisible;
                if (nextIsVisible != isVisible) {
                    persooWidget.setAttribute("data-visible", nextIsVisible);
                    if (nextIsVisible) {
                        document.addEventListener("mousedown", onClickOutside);
                        document.addEventListener("scroll", onScrollOutside);
                    } else {
                        document.removeEventListener("mousedown", onClickOutside);
                        document.removeEventListener("scroll", onScrollOutside);
                    }
                    reportEvent(nextIsVisible ? "open" : "close");
                }
            }

            var reportedEventCount = {};
            var isMouseOverWidget = false;
            var persooWidget = document.getElementById("persoo--<%= offerID %>");
            var tabInnerNode = document.getElementById("persoo--<%= offerID %>__tab__inner");
            var wrapperNode = document.getElementById("persoo--<%= offerID %>__wrapper");

            tabInnerNode.onclick = toggleSidebox;
            persooWidget.onmouseenter = onMouseOver.bind(null, true);
            persooWidget.onmouseleave = onMouseOver.bind(null, false);

            var tabInnerWidth = tabInnerNode.offsetWidth;
            wrapperNode.style.minHeight = tabInnerWidth + <%= Math.min(boxCorners, boxWidth) %> + "px";
        }
        persooSidebox_<%= offerID %>();
    </script>
    <script type="text/javascript">
        <%= customJS %>
    </script>
</div>
