.persoo-block--collect-email {
    text-align: center;
    margin-bottom: 15px;
}
.persoo-block--collect-email__form__email,
.persoo-block--collect-email__form__submit {
    display: inline-block;
}
.persoo-block--collect-email__form__thank-you {
    display: none;
}