<% if (showRichTextBlock) { %>
    @@include templateParts/richTextBlockV2/template.html
<% } %>
<% if (showCustomHTMLBlock) { %>
    @@include templateParts/customHTMLV2/template.html
<% } %>

<% if (innerContentType == "CTA") { %>
    @@include templateParts/callToActionBlockV2/template.html
<% } else if (innerContentType == "Dialog") { %>
    @@include templateParts/dialogBlock/template.html
<% } else if (innerContentType == "CollectEmail") { %>
    @@include templateParts/collectEmailBlockV2/template.html
<% } %>
