<%
/* TODO use flex to display divs inside "item" */
var offerID = offerID || (typeof _offerID !== 'undefined' ? _offerID : 'randomOfferID');
var postPriceCurrency = 'K&#269;';

var productListNames = [tabName1, tabName2];
var productLists = [products1, products2];

function printPrice(p){
  return String(Math.round(p)).replace(/(.*)([0-9]{3})/,'$1 $2');
}
%>
<div id="persoo--<%= offerID %>"
     class="persoo persoo--topProdcts"
>
<% if (productLists[0].length >= 3 || productLists[1].length >= 3) { %>
    <style>
    .persoo--topProducts__tabs {
            width:100%;
            display:inline-block;
    }
    #persoo--<%= offerID %> .persoo--topProducts__tabs {
            border-bottom:<%= tabsBorderWidth %>px solid <%= tabsBorderColor %>;
    }
    .persoo--topProducts__tabs a {
            float:left;
            margin-right:5px;
            display:inline-block;
            cursor: pointer;
            padding:10px;
            line-height:1em;
            text-decoration:none;
    }
    #persoo--<%= offerID %> .persoo--topProducts__tabs a {
            margin-top: <%= tabsBorderWidth %>px;
            color:<%= tabsTextColor %>;
            font:<%= tabsFont %>;
            background:<%= tabsBackgroundColorNormal %>;
    }
    .persoo--topProducts__tabs a[data-active="true"] {
            font-weight:bold;
            margin-top: 0;
    }
    #persoo--<%= offerID %> .persoo--topProducts__tabs a[data-active="true"] {
            color:<%= tabsTextColorActive %>;
            background:<%= tabsBackgroundColorActive %>;
            margin-bottom:-<%= tabsBorderWidth %>px;
            border: <%= tabsBorderWidth %>px solid <%= tabsBorderColor %>;
            border-bottom-color: <%= tabsBackgroundColorNormal %>;
    }
    #persoo--<%= offerID %> .persoo--topProducts__tabs a:hover {
            background:<%= tabsBackgroundColorHover %>;
    }
    #persoo--<%= offerID %> .persoo--topProducts__tabs a[data-active="true"]:hover {
            background:<%= tabsBackgroundColorActive %>;
    }
    .persoo--topProducts__tabs a:last-of-type {
            margin-right:0;
    }
    .persoo--topProducts__list {
            display:none;
    }
    .persoo--topProducts__list[data-active="true"] {
            display:block;
    }
    .persoo--topProducts__list__moreProducts {
            display: block;
            height: 0px;
            width: 100%;
            overflow: hidden;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
    }
    .persoo--topProducts__list__moreProducts__inner {
            width:100%;
    }
    .persoo--topProducts__list__item {
            position: relative;
            padding: 5px 0;
            width: 100%;
            clear:both;
    }
    #persoo--<%= offerID %> .persoo--topProducts__list__item {
            margin: <%= itemBoxSpace %>px 0 0 0;
            border: <%= itemBoxBorderWidth %>px solid <%= itemBoxBorderColor %>;
            min-height: <%= itemImageSize+6 %>px;
            background-color: <%= itemBoxBackgroundColor %>;
    }
    .persoo--topProducts__list__item__number {
            display: table-cell;
            vertical-align: middle;
            width: 35px;
            padding: 19px 0;
    }
    .persoo--topProducts__list__item__number div {
            float: left;
            width: 2em;
            height: 1.8em;
            font-size: 0.85em;
            line-height: 1.8em;
            letter-spacing: 0;
            text-align: center;
            -webkit-border-radius: 0 4px 4px 0;
            -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
    }
    #persoo--<%= offerID %> .persoo--topProducts__list__item__number div {
            color: <%= itemNumberingTextColor %>;
            background-color: <%= itemNumberingBackgroundColor %>;
    }
    .persoo--topProducts__list__item__image {
            display: table-cell;
            vertical-align: middle;
            padding: 3px 5px;
            text-align: center;
    }
    #persoo--<%= offerID %> .persoo--topProducts__list__item__image {
            width: <%= itemImageSize %>px;
    }
    .persoo--topProducts__list__item__image img {
            width: auto;
            height: auto;
    }
    #persoo--<%= offerID %> .persoo--topProducts__list__item__image img {
            max-width: <%= itemImageSize %>px;
            max-height: <%= itemImageSize %>px;
    }
    .persoo--topProducts__list__item__textWrapper {
            display: table-cell;
            vertical-align: middle;
            margin: 0 0;
            padding: 3px 0;
            text-align: left;
    }
    .persoo--topProducts__list__item__text {
            position: relative;
            margin: 0;
            padding: 0;
            text-align: left;
    }
    .persoo--topProducts__list__item__text__title {
            margin-right: 120px;
    }
    #persoo--<%= offerID %> .persoo--topProducts__list__item__text__title {
            font: <%= itemTitleFont %>;
    }
    .persoo--topProducts__list__item__text__title a {
            font-weight: bold;
            max-width: 100%;
            height: 1.1em;
            line-height: 1.1em;
            overflow: hidden;
            white-space: nowrap;
            display: inline-block;
            text-decoration: none;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
    }
    #persoo--<%= offerID %> .persoo--topProducts__list__item__text__title a {
            color: <%= itemTitleTextColor %>;
    }
    .persoo--topProducts__list__item__text__title a:hover {
            text-decoration: underline;
            opacity: 0.8;
            filter: brightness(50%);
    }
    .persoo--topProducts__list__item__text__description {
            line-height: 1.1em;
            overflow: hidden;
            margin: 0 120px 0 0;
            padding: 0;
            display: inline-block;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
    }
    #persoo--<%= offerID %> .persoo--topProducts__list__item__text__description {
            font: <%= itemDescriptionFont %>;
            height: <%= 1.1*itemDescriptionLinesCount %>em;
            color:<%= itemDescriptionTextColor %>;
    }
    .persoo--topProducts__list__item__text__price {
            position: absolute;
            top: 0;
            right: 0;
            width: 100px;
            text-align: right;
            padding: 3px 8px 3px 0;
    }
    #persoo--<%= offerID %> .persoo--topProducts__list__item__text__price {
            font: <%= itemPriceFont %>;
    }
    .persoo--topProducts__list__item__text__price small {
            font-size:0.8em;
    }
    .persoo--topProducts__list__item__text__price > del {
            font-size: smaller;
            float: left;
            width: 100%;
            font-weight: bold;
            vertical-align: sub;
            line-height: 1.1em;
    }
    #persoo--<%= offerID %> .persoo--topProducts__list__item__text__price > del {
            color: <%= itemPriceOriginalTextColor %>;
    }
    .persoo--topProducts__list__item__text__price > div {
            float:left;
            width:100%;
            vertical-align:sub;
    }
    #persoo--<%= offerID %> .persoo--topProducts__list__item__text__price > div {
            color:<%= itemPriceTextColor %>;
    }
    .persoo--topProducts__list__item__text__price > .persoo-clear {
            float: none;
            clear: both;
    }

    #persoo--<%= offerID %> .persoo--topProducts__list__item:hover .persoo--topProducts__list__item__text__description a {
            color:<%= itemTitleTextColor %>;
    }

    .persoo--topProducts__showMore {
            width:100%;
            display:block!important;
            text-align:center;
    }
    #persoo--<%= offerID %> .persoo--topProducts__showMore {
            margin:<%= itemBoxSpace %>px 0 0 0;
            border-top:<%= itemBoxBorderWidth %>px solid <%= tabsBorderColor %>;
    }
    .persoo--topProducts__showMore__toggle {
            width:90px;
            height:30px;
            overflow:hidden;
            display:inline-block;
    }
    .persoo--topProducts__showMore__toggle__ring {
            cursor: pointer;
            display:block;
            width:90px;
            height:60px;
            margin-top:-30px;
            -webkit-border-radius:7px;
            -moz-border-radius:7px;
            border-radius:7px;
    }
    #persoo--<%= offerID %> .persoo--topProducts__showMore__toggle__ring {
            background-color:<%= buttonsBackgroundColor %>;
    }
    .persoo--topProducts__showMore__toggle__ring__square {
            width:20px;
            height:20px;
            display:inline-block;
            overflow:hidden;
    }
    .persoo--topProducts__showMore__toggle__ring__square__white {
            width:10px;
            height:10px;
            -ms-transform:rotate(45deg);
            -webkit-transform:rotate(45deg);
            transform:rotate(45deg);
    }
    #persoo--<%= offerID %> .persoo--topProducts__showMore__toggle__ring__square__white {
            border: 5px solid <%= buttonsTextColor %>;
    }
    .persoo--topProducts__showMore__toggle:hover .persoo--topProducts__showMore__toggle__ring {
            opacity: 0.8;
            filter: brightness(85%);
    }
    .persoo--topProducts__showMore__toggle[data-open="false"] .persoo--topProducts__showMore__toggle__ring__square        { margin-top:38px; }
    .persoo--topProducts__showMore__toggle[data-open="false"] .persoo--topProducts__showMore__toggle__ring__square__white { margin-top:-11px;}
    .persoo--topProducts__showMore__toggle[data-open="true"]  .persoo--topProducts__showMore__toggle__ring__square        { margin-top:31px; }
    .persoo--topProducts__showMore__toggle[data-open="true"]  .persoo--topProducts__showMore__toggle__ring__square__white { margin-top:11px; }


    /* move priceBox from the top right corner to below content */
    @media (max-width:964px){
        .persoo--topProducts__list__item__text__title,
        .persoo--topProducts__list__item__text__description {
                margin-right: 5px;
        }
        .persoo--topProducts__list__item__text__price {
                position: relative;
                top: auto;
                right: auto;
                width: auto;
                margin: 0 5px 0 0;
                padding: 0 0;
                text-align:left;
        }
        .persoo--topProducts__list__item__text__price del {
                width:auto;
                padding-right:5px;
        }
        .persoo--topProducts__list__item__text__price div {
                width:auto;
        }
    }
    </style>
    <style>
        <%= customCSS %>
    </style>

    <!--Tabs to switch between product lists -->
    <div class="persoo--topProducts__tabs">
        <% for(var listIndex = 0; listIndex < productListNames.length; listIndex++) { %>
            <a id="persoo--<%= offerID %>__tab--<%= listIndex %>"
               class="persoo--topProducts__tab persooAction"
               data-active="<%= listIndex==0 %>"
               onclick="persoo_<%= offerID %>_switchTabs(<%= listIndex %>)">
                   <%= productListNames[listIndex] %>
            </a>
        <% } %>
    </div>

    <!-- Product Lists -->
    <% for(var listIndex = 0; listIndex < productListNames.length; listIndex++) { %>
        <div id="persoo--<%= offerID %>__list--<%= listIndex %>"
             class="persoo--topProducts__list"
             data-active="<%= listIndex==0 %>"
        >

            <% for(i = 0; i < 10 && i < productLists[listIndex].length; i++) { %>
                <% var currentProduct = productLists[listIndex][i]; %>
                <% if (i==3) { %>
                     <div class="persoo--topProducts__list__moreProducts">
                     <div class="persoo--topProducts__list__moreProducts__inner">
                <% } %>
                <div class="persoo--topProducts__list__item">
                   <div class="persoo--topProducts__list__item__number">
                       <div><%= i + 1 %></div>
                   </div>
                   <div class="persoo--topProducts__list__item__image">
                       <a title="<%= currentProduct.title %>" href="<%= currentProduct.link %>">
                           <img alt="<%= currentProduct.title %>" title="<%= currentProduct.title %>" src="<%= currentProduct.imageLink %>" />
                       </a>
                   </div>
                   <div class="persoo--topProducts__list__item__textWrapper">
                       <div class="persoo--topProducts__list__item__text">
                           <div class="persoo--topProducts__list__item__text__title">
                               <a title="<%= currentProduct.title %>" href="<%= currentProduct.link %>"><%= currentProduct.title %></a>
                           </div>
                           <% if (showDescription) { %>
                               <div class="persoo--topProducts__list__item__text__description">
                                   <%= currentProduct.description %>
                               </div>
                           <% } %>
                           <div class="persoo--topProducts__list__item__text__price">
                               <% if (showOriginalPrice && currentProduct.priceOriginal && currentProduct.priceOriginal > currentProduct.price) { %>
                                   <del><%= printPrice(currentProduct.priceOriginal) %> <small><%= postPriceCurrency %></small></del>
                               <% } %>
                               <div>
                                  <%= printPrice(currentProduct.price) %> <small><%= postPriceCurrency %></small>
                               </div>
                               <div class="persoo-clear"></div>
                           </div>
                       </div>
                   </div>
                </div>
            <% } %>
            <% if (i>2) { %>
                </div></div>
            <% } %>
        </div>
    <% } %>

    <!-- Button to show all items -->
    <div id="persoo--<%= offerID %>__showMore" class="persoo--topProducts__showMore">
        <div id="persoo--<%= offerID %>__showMore__toggle"
             class="persoo--topProducts__showMore__toggle persooAction"
             onclick="persoo_<%= offerID %>_toggleShowMore()"
             data-open="false"
        >
            <div class="persoo--topProducts__showMore__toggle__ring">
                <div class="persoo--topProducts__showMore__toggle__ring__square">
                    <div class="persoo--topProducts__showMore__toggle__ring__square__white"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        <% if (productLists[0].length <= 3) { %>
            document.getElementById("persoo--<%= offerID %>__showMore").style.display = "none";
        <% } %>

        function persoo_<%= offerID %>_scrollToTopOfTheWidget(){
            var scrollToOffset = document.getElementById("persoo--<%= offerID %>").getBoundingClientRect().top;
            var currentPosition = document.body.scrollTop;
            var scrollToFinal = scrollToOffset + currentPosition;

            //animation
            function scrollTo(element, to, duration) {
                if (duration <= 0) return;
                var difference = to - element.scrollTop;
                var perTick = difference / duration * 10;

                setTimeout(function() {
                    element.scrollTop = element.scrollTop + perTick;
                    if (element.scrollTop == to) return;
                    scrollTo(element, to, duration - 10);
                }, 10);
            }
            scrollTo(document.body, scrollToFinal, 200);
        };

        function persoo_<%= offerID %>_toggleShowMore(forceRefreshOnly) {
            var toggleElem = document.getElementById('persoo--<%= offerID %>__showMore__toggle');
            var isOpen = (toggleElem.getAttribute("data-open") == 'true');
            var newIsOpenStatus = forceRefreshOnly ? isOpen : !isOpen;
            toggleElem.setAttribute("data-open", newIsOpenStatus);

            var moreProductsContainer = document.querySelector("#persoo--<%= offerID %> [data-active=\"true\"] .persoo--topProducts__list__moreProducts");
            var moreProductsContainerInner = moreProductsContainer.firstElementChild;
            moreProductsContainer.style.height = (newIsOpenStatus ? moreProductsContainerInner.scrollHeight : 0) + 'px';

            if (!forceRefreshOnly) {
                window.persoo('send', isOpen ? 'close' : 'open', {offerID: "<%= offerID %>"});
                persoo_<%= offerID %>_scrollToTopOfTheWidget();
            }
        };

        function persoo_<%= offerID %>_switchTabs(listIndex){
            var elem;
            for(var i = 0; i < <%= productListNames.length %>; i++){
                elem = document.getElementById('persoo--<%= offerID %>__tab--' + i);
                if (elem) { elem.setAttribute("data-active", false); }
                elem = document.getElementById('persoo--<%= offerID %>__list--' + i);
                if (elem) { elem.setAttribute("data-active", false); }
            }
            elem = document.getElementById('persoo--<%= offerID %>__tab--' + listIndex);
            elem.setAttribute("data-active", true);
            elem = document.getElementById('persoo--<%= offerID %>__list--' + listIndex);
            elem.setAttribute("data-active", true);

            window.persoo('send', 'switchTab', {offerID: "<%= offerID %>", tabIndex: listIndex});

            /* keep the same "showMore" status on the new tab */
            persoo_<%= offerID %>_toggleShowMore(true);

            /* show/hide "showMore" button according to available products count */
            var productListLengths = <%= JSON.stringify(productLists.map(function (obj){ return obj.length;})) %>;
            var displayValue = (productListLengths[listIndex] <= 3 ? "none" : "block");
            document.getElementById("persoo--<%= offerID %>__showMore").style.display = displayValue;
        };
    </script>
    <script type="text/javascript">
        <%= customJS %>
    </script>
<% } %>
</div>
