/**********/
/* LAYOUT */
/**********/
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#topBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 50px;
    overflow: hidden;
    overflow-y: auto;
    
    background: #BD1E51;
    background-image: linear-gradient(totop,#3737370,#4646465px);
    color: #fff;
    
    font-size: Large;
}
#topBar * {
    padding: 5px;
    margin: 10px;
}
#panel {
    position: absolute;
    top: 50px;
    bottom: 0;    
    left: 0;
    width: 40%;
}
#persooPreviewContainer {
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    width: 60%;
    
    background: #EEE;
}
#persooPreview { /* center iframe in the container??? it is nonsence for pop-up for example. */
/*
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #DDD;
*/
    width: 100%;
    height: 100%;
	border: 0;
}

/*****************/
/* TABS in PANEL */
/*****************/
#panelTabs {
	width: 100%;
	height: 20px;
	padding: 10px;
	background: #DDD;
	color: #444;
}
#panelTabs span {
	margin: 10px 10px;
}
#panelTabs span.active {
	font-weight: bold;
}
#panel div.panel {
	display: none;
	padding: 1.5%;
}
#panel div.panel.active {    
    position: fixed;
    top: 90px;
    bottom: 0;
    display: block;
    overflow-y: auto;    
    width: 37%;
}

.menuGroup .menuGroupFields {
    display: none;
}
.menuGroup.active .menuGroupFields {
    display: block;
    margin: 20px 0;
}
.menuGroup > h2 {
    cursor: pointer;
    position: relative;
    display: block;
    padding: 10px 10px 10px 50px;
    margin: 0 0;
    background: #aaa;
    box-shadow: inset 0 -1px #eee;
    color: #ffffff;
    font-size: 1.2rem;
}
.menuGroup > h2:before {
    /* icons */
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    background-image: url(./img/cd-icons.svg);
    background-repeat: no-repeat;

    /* arrow icon */
    left: 18px;
    background-position: 0 0;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
}
.menuGroup.active > h2:before{
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

/***********/
/* UTILITY */
/***********/
.center {
    text-align: center;
    margin: auto;
}

.CodeMirror {
    border: 1px solid #ccc;
    height: auto;
}
.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.formField {
    margin-top: 10px;
}
.formField .label {
	margin-right: 5px;
}
.formField.color input.hex {width: 8ex;}
.formField.color input.alpha {width: 3ex;}
.formField.color span.colorPreview {
    display: inline-block; 
    width: 20px; height:20px; 
    margin: 0 5px -5px 0;
 }
