/* Sizes */
/* Pop-up is elastic to your content */

.persoo--popup__scrollWrapper {
    /* container with background image:
       set fix size for fix sized background images */
    width: auto;
    height: auto;
}
.persoo--popup__content {
    /* container with content blocks:
       set fix sizes and paddings, if you need to
       position content in container */
    /*
       margin-left: 10%;
       margin-top: 20%;
       width: 80%;
       height: 60%;
     */
}
.persoo--popup__wrapper {
    padding: 20px;
}

/* image positions */
.persoo--popup__image {
    text-align: center;
}
.persoo--popup__image img {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 600px) {
    .persoo--popup__image {
        display: none;
    }
}

/* Close X */
.persoo--popup__close-x {
    position: absolute;
    width: 22px;
    height: 22px;
    right: 0;
    top: 0;
    /* change color and size in decoded SVG. Note: svg must be encoded because of IE. */
    background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2712%27%20height%3D%2712%27%20viewBox%3D%270%200%2012%2012%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20opacity%3D%270.6%27%3E%3Cpath%20d%3D%27M.566%201.698L0%201.13%201.132%200l.565.566L6%204.868%2010.302.566%2010.868%200%2012%201.132l-.566.565L7.132%206l4.302%204.3.566.568L10.868%2012l-.565-.566L6%207.132l-4.3%204.302L1.13%2012%200%2010.868l.566-.565L4.868%206%20.566%201.698z%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    background-size: 14px 14px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 1;
}
.persoo--popup__close-x:hover {
    opacity: 0.7;
}
/* Choose close X position (in box corner | in page corner)
   and hide the other: */
/* .persoo--popup__box > .persoo--popup__close-x */
.persoo--popup > .persoo--popup__close-x {
    display: none;
}
.persoo--popup__dismiss-links {
    text-align:center;
}
.persoo--popup__dismiss-links--close {
    font-size: 12px;
    text-decoration: underline;
    margin-left: 10px;
}

/* background */
.persoo-block--background {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #eee;
}

/* screen overlay */
.persoo--popup__overlay {
    background-color: rgba(36, 39, 41, 0.1);
}

/* Border and rounded corners */
.persoo--popup__scrollWrapper {
    border-radius: 0px;
    border: 0px solid #000;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 15px;
}

/* Form fields - delete them all if you have your own form styles */
/***************************************************************************/

/* reset css inside */
.persoo--widget__content {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.persoo--widget__content *,
.persoo--widget__content p,
.persoo--widget__content a,
.persoo--widget__content strong,
.persoo--widget__content em,
.persoo--widget__content span,
.persoo--widget__content ul,
.persoo--widget__content li,
.persoo--widget__content input,
.persoo--widget__content button {
    margin: 0;
    padding: 0;
    font-family: inherit;
}
.persoo--widget__content a {
    text-decoration: none;
}
.persoo--widget__content a:hover {
    text-decoration: underline;
}
.persoo--widget__content h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
.persoo--widget__content h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}
.persoo--widget__content h3 {
    font-size: 1.17em;
    margin: 1em 0;
}
.persoo--widget__content h4 {
    font-size: 1em;
    margin: 1.33em 0;
}
.persoo--widget__content hr {
    border: 0;
    border-top: 1px solid .eee;
    border-bottom: 1px solid .fff;
}
.persoo--widget__content input {
    padding: 4px 6px;
    margin-right: 0px;
}
.persoo--widget__content p {
    margin-bottom: 10px;
}
.persoo--widget__content strong {
    font-weight: bold;
}
.persoo--widget__content em {
    font-style: italic;
    font-family: inherit;
}
.persoo--widget__content input {
    margin-right: 0;
}
.persoo--widget__content input[type="text"] {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
       -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
         -o-transition: border linear 0.2s, box-shadow linear 0.2s;
            transition: border linear 0.2s, box-shadow linear 0.2s;
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.persoo--widget__content img:not(.persoo-block) {
    max-width: 100%;
    max-height: 100%;
}

/* persoo block styles */
.persoo-block--image,
.persoo-block--collect-email,
.persoo-block--richtext {
    margin-bottom: 20px;
}
.persoo-block--richtext h1 {
    margin-top: 0;
    text-align: center;
}
.persoo--widget__content > div:last-child {
    margin-bottom: 0 !important;
}

.persoo--widget .persoo-block--separator {
    position: relative;
    margin-bottom: 10px;
}

.persoo--widget__content input[type="submit"],
.persoo--widget__content input[type="text"],
.persoo--widget__content .persoo-block--collect-email__form__email,
.persoo--widget__content .persoo-block--collect-email__form__submit,
.persoo--widget__content .persoo-block--collect-email__form__thank-you,
.persoo--widget__content .persoo-block--cta__link,
.persoo--widget__content .persoo-block--cta__coupon,
.persoo--widget__content .persoo-block--dialog__link {
    float: none;
    vertical-align: middle;
    min-height: 22px;
    line-height: 22px;
    padding: 6px 18px;
    margin: 5px 0px;
    word-wrap: normal;
    text-decoration: none;
    zoom: 1;
    border-radius: 3px;
    border:  1px solid #40a4f4;
    background-color: transparent; /* for outlined buttons */
    background-color: #40a4f4;
    color: #fff;
    word-wrap: normal;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}
.persoo--widget__content input[type="text"],
.persoo--widget__content .persoo-block--collect-email__form__email {
    background-color: white;
    color: #333;
}
.persoo-block--collect-email__form__consentParent {
    width: 100%;
    text-align: left;
    font-size: smaller;
    color: #030303db;
}
.persoo-block--collect-email__form__consentParent input[type="checkbox"] {
    float: left;
    margin-right: 8px;
}

.persoo--widget__content input[type="submit"]:hover,
.persoo--widget__content .persoo-block--collect-email__form__submit:hover,
.persoo--widget__content .persoo-block--collect-email__form__thank-you:hover,
.persoo--widget__content .persoo-block--cta__link:hover,
.persoo--widget__content .persoo-block--cta__coupon:hover,
.persoo--widget__content .persoo-block--dialog__link:hover {
    text-decoration: none;
    border-color:  #0b6fc1;
    background-color: transparent; /* for outlined buttons */
    background-color: #0b6fc1;
    color: #eee;
    cursor: pointer;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.persoo--widget__content input::-ms-input-placeholder { opacity: 0.9; color: #777; }
.persoo--widget__content input:-ms-input-placeholder { opacity: 0.9; color: #777; }
.persoo--widget__content input::-webkit-input-placeholder { opacity: 0.9; color: #777; }
.persoo--widget__content input::placeholder { opacity: 0.9; color: #777; }


/* stacked email input and submit button */
.persoo--widget__content input[type="text"],
.persoo--widget__content .persoo-block--collect-email__form__email {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.persoo--widget__content .persoo-block--collect-email__form__submit {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* dialog secondary button */
.persoo--widget__content .persoo-block--dialog__link {
    margin: 5px;
}
.persoo--widget__content .persoo-block--dialog__link--secondary {
    background-color: transparent;
    border-color: #aaa;
    color: #444;
}
.persoo--widget__content .persoo-block--dialog__link--secondary:hover {
    background-color: #aaa;
    border-color: #888;
    color: #444;
}
