<div class="persoo-search-results__root">
  <div class="persoo-search-results__filters">
    <div id="persoo-clear-all" class="persoo-container"></div>
    <div id="persoo-current-refined-values" class="persoo-container"></div>
    <div id="persoo-productTypes" class="persoo-container"></div>
    <div id="persoo-categories" class="persoo-container"></div>
    <div id="persoo-brands--menu" class="persoo-container"></div>
    <div id="persoo-brands--refinementList" class="persoo-container"></div>
    <div id="persoo-gender--refinementList" class="persoo-container"></div>
  </div>
  <div class="persoo-search-results__items">

    <div class="persoo-search-bar">
      <div class="persoo-search-bar-container">
        <div class="persoo-search-bar-label">
          <span class="icon"></span>
          <span>Current search</span>
        </div>
        <div class="persoo-search-bar-wrapper">
          <label for="instant-search-bar">Search:</label>
          <input type="text" id="persoo-search-box" class="persoo-container"/>
          <span class="persoo-clear-cross persoo-clear-query" style="display: inline;"></span>
        </div>
      </div>
    </div>

    <div id="persoo-stats" class="persoo-container"></div>
    <div id="persoo-items" class="persoo-container"></div>

    <div class="persoo-items-footer">
      <div id="persoo-items-per-page" class="persoo-container"></div>
      <div id="persoo-pagination" class="persoo-container"></div>
    </div>
  </div>
</div>
