<div id="persoo-search-results__root">
  <div id="persoo-search-results__filters">
    <p>Fil</p>
    <div id="persoo-clear-all"></div>
    <div id="persoo-current-refined-values"></div>
    <div id="persoo-categories"></div>
    <div id="persoo-brands--menu"></div>
    <div id="persoo-brands--refinementList"></div>
    <div id="persoo-gender--refinementList"></div>
  </div>
  <div id="persoo-search-results__items">

    <div id="persoo-search-bar">
      <div id="persoo-search-box-container">
        <div class="persoo-search-bar-label">
          <span class="icon"></span>
          <span>Current search</span>
        </div>
        <div class="persoo-search-bar-wrapper">
          <label for="instant-search-bar">Search:</label>
          <input type="text" id="persoo-search-box" />
          <span class="clear-cross clear-query-instant" style="display: inline;"></span>
        </div>
      </div>
    </div>

    <div id="persoo-stats"></div>
    <div id="persoo-items"></div>
    <div id="persoo-items-footer">
      <div id="persoo-items-per-page"></div>
      <div id="persoo-pagination"></div>

    </div>
  </div>
</div>
