<div id="persoo--<%= offerID %>" data-inner-location-id="persoo-do-not-track-impressions-by-default">
    <style type="text/css">
        <%= customCSS %>
    </style>

    <%= layoutHTML %>

    <% if (showFulltextFilter) { %>
        <div id="persoo-sb-template-<%= offerID %>" style="display:none;">
            <%= searchBarHTML %>
        </div>
        <script>
            (function () {
                var containerElem = document.querySelector('<%= widgetContainerSelectors.searchBar %>');
                if (containerElem) {
                    var contentElem = document.getElementById('persoo-sb-template-<%= offerID %>');
                    containerElem.innerHTML = contentElem.innerHTML;
                } else {
                    console.warn('Persoo Search Results: external search bar selector ' +
                    '"<%= widgetContainerSelectors.searchBar %>" does not match any element in page.');
                }
            })();
        </script>
    <% } %>

    <script>
        var persoo_<%= offerID %> = (function () {
            <% if (showMultiRefinementList) { %>
                <%  /* Add HTML containers into MultiRefinementList container */
                    var multiContainerID = widgetContainerSelectors.multiRefinementList.replace('#','');
                    var containerIDs = [];
                    for (var g=0; g < multiRefinementListGroups.length; g++) {
                        containerIDs.push(multiContainerID + '_' + multiRefinementListGroups[g].attributeName);
                    }
                %>
                var multiRefinementsContainerElem = document.getElementById("<%= multiContainerID %>");
                var innerContainerIDs = <%=  JSON.stringify(containerIDs) %>;
                innerContainerIDs.map( function(myID) {
                    var elem = document.createElement("div");
                    elem.id = myID;
                    multiRefinementsContainerElem.appendChild(elem);
                });
            <% } %>

            function initInstantSearch() {
                var search = persooInstantSearch({
                    algorithmID: "<%= searchAlgorithm %>",
                    hideOnEmptyQuery: <%= hideOnEmptyInput %>,
                    urlSync: <%= !urlSync ? 'false' : JSON.stringify({
                        mapping: urlSyncMapping,
                        trackedParameters: urlSyncTrackedParameters,
                        threshold: urlSyncThreshold,
                        useHash: urlSyncUseHash
                    }) %>
                });
                <%
                function addTemplate(templateField) {
                    return 'persooInstantSearch.EJS(' + JSON.stringify(templateField) + ')';
                }
                function addClassNamesFor(widget, defaults) {
                    var cssClasses = defaults;
                    var userClasses = customClassNamesJSON[widget];
                    if (userClasses) {
                        for (var i in userClasses) {
                            cssClasses[i] = (cssClasses[i] ? cssClasses[i] + ' ' : '') + userClasses[i];
                        }
                    }
                    return JSON.stringify(cssClasses);
                }
                function addCollapsibleOption(collapsible, collapsed) {
                    if (collapsible) {
                        return 'collapsible: { collapsed: ' + !!collapsed + '}';
                    } else {
                        return 'collapsible: false';
                    }
                }
                function addShowMoreOption(showMore, limit) {
                    if (showMore) {
                        var opt = {
                            limit: limit,
                            templates: {
                                active: "ACTIVE",
                                inactive: "INACTIVE"
                            }
                        }
                        return 'showMore: ' + JSON.stringify(opt)
                            .replace('"ACTIVE"', addTemplate(
                                '<div class="persoo-show-more persoo-show-more--active">' + showMoreActiveTemplate + '</div>'))
                            .replace('"INACTIVE"', addTemplate(
                                '<div class="persoo-show-more persoo-show-more--inactive">' + showMoreInactiveTemplate + '</div>'));
                    } else {
                        return 'showMore: false';
                    }
                }
                %>

                search.addWidget(
                    persooInstantSearch.widgets.<%= (paginationType == 'infiniteItems' ? 'infiniteHits' : 'hits') %>({
                        container: '<%= widgetContainerSelectors.items %>',
                        hitsPerPage: <%= itemsPerPage %>,
                        <%= paginationType == 'infiniteItems' ? 'showMoreLabel: "' + showMoreHitsLabel + '",' : '' %>
                        templates: {
                            item: <%= addTemplate(itemTemplate) %>,
                            empty: <%= addTemplate(emptyResultsTemplate) %>
                        },
                        cssClasses: <%= addClassNamesFor(paginationType == 'infiniteItems' ? 'infiniteHits' : 'hits', {}) %>
                    })
                );
                <% if (paginationType == 'pagination') { %>
                    search.addWidget(
                        persooInstantSearch.widgets.pagination({
                            container: '<%= widgetContainerSelectors.pagination %>',
                            cssClasses: <%= addClassNamesFor('pagination', {}) %>,
                            labels: {
                        		previous: "<span class=\"persoo-pagination__label\">‹</span>",
                            	next: "<span class=\"persoo-pagination__label\">›</span>",
                            	first: "<span class=\"persoo-pagination__label\">«</span>",
                            	last: "<span class=\"persoo-pagination__label\">»</span>"
                        	}
                        })
                    );
                    <% if (showItemsPerPage) { %>
                        search.addWidget(
                            persooInstantSearch.widgets.hitsPerPageSelector({
                                container: '<%= widgetContainerSelectors.itemsPerPage %>',
                                <%
                                    var itemsPerPageAsList = itemsPerPageValues.split(/\s*,\s*/);
                                    var itemsPersPageOptions = JSON.stringify(itemsPerPageAsList.map(function (item){
                                        return {
                                                value: item,
                                                label: item + itemsPerPageSuffixTemplate
                                        };
                                    }))
                                %>
                                autoHideContainer: true,
                                options: <%= itemsPersPageOptions %>,  // default is defined in hits widget
                                cssClasses: <%= addClassNamesFor('hitsPerPageSelector', {}) %>
                            })
                        );
                    <% } %>
                <% } %>
                <% if (showStats) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.stats({
                            container: '<%= widgetContainerSelectors.stats %>',
                            templates: {
                                body: <%= addTemplate(statsTemplate) %>
                            },
                            cssClasses: <%= addClassNamesFor('stats', {}) %>
                        })
                    );
                <% } %>
                <% if (showHeader) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.header({
                            container: '<%= widgetContainerSelectors.header %>',
                            templates: {
                                root: <%= addTemplate(headerTemplate) %>
                            },
                            cssClasses: <%= addClassNamesFor('header', {}) %>
                        })
                    );
                <% } %>
                <% if (showClearAll) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.clearAll({
                            container: '<%= widgetContainerSelectors.clearAll %>',
                            templates: {
                                link: 'Reset everything but fulltext'
                            },
                            cssClasses: <%= addClassNamesFor('clearAll', {}) %>,
                            autoHideContainer: false
                        })
                    );
                <% } %>
                <% if (showCurrentRefinedValues) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.currentRefinedValues({
                            container: '<%= widgetContainerSelectors.currentRefinedValues %>',
                            clearAll: 'after',
                            templates: {
                                header: <%= addTemplate(currentRefinedValuesHeaderTemplate) %>,
                                clearAll: <%= addTemplate(currentRefinedValuesClearAllTemplate) %>
                            },
                            cssClasses: <%= addClassNamesFor('currentRefinedValues', {}) %>
                        })
                    );
                <% } %>

                <% if (showFulltextFilter) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.searchBox({
                            container: '<%= widgetContainerSelectors.fulltextFilter %>',
                            placeholder: '<%= fulltextFilterPlaceholder %>',
                            cssClasses: <%= addClassNamesFor('searchBox', {}) %>
                        })
                    );
                <% } %>

                <% if (showMenu) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.menu({
                            container: '<%= widgetContainerSelectors.menu %>',
                            attributeName: '<%= menuAttributeName %>',
                            limit: '<%= menuLimit %>',
                            <%= addCollapsibleOption(menuCollapsible, menuCollapsed) %>,
                            templates: {
                                header: <%= addTemplate(menuHeaderTemplate) %>
                            },
                            cssClasses: <%= addClassNamesFor('menu', {}) %>
                        })
                    );
                <% } %>
                <% if (showHierarchicalMenu) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.hierarchicalMenu({
                            container: '<%= widgetContainerSelectors.hierarchicalMenu %>',
                            <% var hierarchicalMenuParsedAttrNames = hierarchicalMenuAttributeNames.split(/\s*,\s*/); %>
                            attributes: <%= JSON.stringify(hierarchicalMenuParsedAttrNames) %>,
                            limit: '<%= hierarchicalMenuLimit %>',
                            <%= addCollapsibleOption(hierarchicalMenuCollapsible, hierarchicalMenuCollapsed) %>,
                            templates: {
                                header: <%= addTemplate(hierarchicalMenuHeaderTemplate) %>
                            },
                            cssClasses: <%= addClassNamesFor('hierarchicalMenu', {}) %>
                        })
                    );
                <% } %>

                <% if (showRefinementList1) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.refinementList({
                            container: '<%= widgetContainerSelectors.refinementList1 %>',
                            attributeName: '<%= refinementList1AttributeName %>',
                            operator: 'or',
                            templates: {
                                header: <%= addTemplate(refinementList1HeaderTemplate) %>
                            },
                            limit: <%= refinementList1Limit %>,
                            sortBy: ['isRefined', 'count:desc', 'name:asc'],
                            <%= addShowMoreOption(refinementList1ShowMore, refinementList1ShowMoreLimit) %>,
                            <%= addCollapsibleOption(refinementList1Collapsible, refinementList1Collapsed) %>,
                            cssClasses: <%= addClassNamesFor('refinementList', {}) %>
                        })
                    );
                <% } %>

                <% if (showRefinementList2) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.refinementList({
                            container: '<%= widgetContainerSelectors.refinementList2 %>',
                            attributeName: '<%= refinementList2AttributeName %>',
                            operator: 'or',
                            templates: {
                                header: <%= addTemplate(refinementList2HeaderTemplate) %>
                            },
                            limit: <%= refinementList2Limit %>,
                            sortBy: ['isRefined', 'count:desc', 'name:asc'],
                            <%= addShowMoreOption(refinementList2ShowMore, refinementList2ShowMoreLimit) %>,
                            <%= addCollapsibleOption(refinementList2Collapsible, refinementList2Collapsed) %>,
                            cssClasses: <%= addClassNamesFor('refinementList', {}) %>
                        })
                    );
                <% } %>

                <% if (showRefinementList3) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.refinementList({
                            container: '<%= widgetContainerSelectors.refinementList3 %>',
                            attributeName: '<%= refinementList3AttributeName %>',
                            operator: 'or',
                            templates: {
                                header: <%= addTemplate(refinementList3HeaderTemplate) %>
                            },
                            limit: <%= refinementList3Limit %>,
                            sortBy: ['isRefined', 'count:desc', 'name:asc'],
                            <%= addShowMoreOption(refinementList3ShowMore, refinementList3ShowMoreLimit) %>,
                            <%= addCollapsibleOption(refinementList3Collapsible, refinementList3Collapsed) %>,
                            cssClasses: <%= addClassNamesFor('refinementList', {}) %>
                        })
                    );
                <% } %>

                <% if (showMultiRefinementList) { %>
                    <%
                        for (var g=0; g < multiRefinementListGroups.length; g++) {
                            var multiRefinementContainerID = widgetContainerSelectors.multiRefinementList + '_' + multiRefinementListGroups[g].attributeName;
                    %>

                        search.addWidget(
                            persooInstantSearch.widgets.refinementList({
                                container: '<%= multiRefinementContainerID %>',
                                attributeName: '<%= multiRefinementListGroups[g].attributeName %>',
                                operator: 'or',
                                templates: {
                                    header: <%= addTemplate(multiRefinementListGroups[g].headerTemplate) %>
                                },
                                limit: <%= multiRefinementListLimit %>,
                                sortBy: ['isRefined', 'count:desc', 'name:asc'],
                                <%= addShowMoreOption(multiRefinementListShowMore, multiRefinementListShowMoreLimit) %>,
                                <%= addCollapsibleOption(multiRefinementListCollapsible, multiRefinementListGroups[g].collapsed) %>,
                                cssClasses: <%= addClassNamesFor('refinementList', {}) %>
                            })
                        );
                    <% } %>
                <% } %>

                <% if (analyticsPushFunction.match(/^\s*function\s+push\(/)) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.analytics({
                            pushFunction: function (formattedParameters, state, results) {
                                <%= analyticsPushFunction %>;
                                var filters = formattedParameters ? formattedParameters.split('&') : [];
                                filters = filters.map(function(filter) {
                                    var paramName = filter.substring(0, filter.indexOf('='));
                                    return filter.replace('=' + paramName + '_', '=');
                                });
                                window.persoo('send', 'impression', {
                                    locationID: '<%= locationID %>',
                                    offerID: '<%= offerID %>',
                                    query: state.query,
                                    filters: filters.map(decodeURIComponent),
                                    foundResultsCount: results.nbHits
                                });
                                push(filters.join('&'), state, results);
                            },
                            pushInitialSearch: <%= analyticsPushInitialSearch %>,
                            triggerOnUIInteraction: <%= analyticsTriggerOnUIInteraction %>,
                            delay: <%= analyticsTriggerDelay %>
                        })
                    );
                <% } %>
                <% if (showFulltextFilter && hideOnEmptyInput) { %>
                    function setHiddenClass(elem, isVisible) {
                        if (elem) {
                            if (isVisible) {
                                elem.className = elem.className.replace(/\s*persoo-hidden/g,'');
                            } else {
                                if (!(elem.className.indexOf('persoo-hidden') >= 0)) {
                                    elem.className += ' persoo-hidden';
                                }
                            }
                        }
                    }
                    function hideSearchResultsOnEmptyInput() {
                        var isEmptyQuery = (search.helper.getStateAsQueryString() == 'q=');
                        var searchResultsElem = document.querySelector('<%= widgetContainerSelectors.searchResults %>');
                        var originalPageContentElem = document.querySelector('<%= widgetContainerSelectors.originalPageContent %>');
                        setHiddenClass(searchResultsElem, !isEmptyQuery);
                        setHiddenClass(originalPageContentElem, isEmptyQuery);
                    }
                    search.setPersooCallback('show', hideSearchResultsOnEmptyInput);
                    search.setPersooCallback('hide', hideSearchResultsOnEmptyInput);
                <% } %>

                search.start();

                function activateSearchBarCross() {
                    var searchBarElem = document.querySelector('.persoo-search-bar__wrapper');
                    var input = searchBarElem.querySelector('.persoo-search-bar__input');
                    var crossElem = searchBarElem.querySelector('.persoo-search-bar__clear-query');

                    conditionallyHideClearCross();
                    input.addEventListener('input', conditionallyHideClearCross);
                    crossElem.addEventListener('click', function(e) {
                        search.helper.setQuery('').search();
                        crossElem.style.display = 'none';
                    });

                    function conditionallyHideClearCross() {
                        crossElem.style.display = input.value ? 'inline' : 'none';
                    }
                    search.on('render', conditionallyHideClearCross);
                }
                activateSearchBarCross();
            }
            function loadScript(url, onloadFn, errorFn) {var d = document; var s=d.createElement("script");
                s.src=url,s.type="text/javascript",s.async=true,s.onerror=errorFn,s.onload=onloadFn;
                d.getElementsByTagName("head")[0].appendChild(s)};

            var isLibLink = "https://scripts.persoo.cz/shared/instantsearchV1/persooInstantSearch.js";
            loadScript(isLibLink, initInstantSearch, function (){});
        })();
    </script>

    <script>
        var ResponsiveClassNames = (function() {
            function prepareOptions(defaultOptions, extraOptions) {
                var options = Object(defaultOptions);
                for (var key in extraOptions) {
                    if (extraOptions.hasOwnProperty(key)) {
                        options[key] = extraOptions[key];
                    }
                }

                return options;
            }

            function ResponsiveClassNames(element, breakpoints, options) {
                this._element = element;

                this._defaultClassNames = this._element.className ?
                    this._element.className.split(' ') :
                [];

                this._breakpoints = breakpoints;

                this._options = prepareOptions(
                    {
                        updateInterval: 300,
                        updateOnResize: false
                    },
                    options || {}
                );

                this._update = (function() {
                    var classNames = [].concat(this._defaultClassNames);
                    var width = this._element.offsetWidth;

                    for (
                        var i = 0, length = this._breakpoints.length;
                        i < length;
                        i += 1
                    ) {
                        var breakpoint = this._breakpoints[i];

                        if (
                            (!breakpoint.minWidth || breakpoint.minWidth <= width) &&
                            (!breakpoint.maxWidth || breakpoint.maxWidth >= width)
                        ) {
                            classNames.push(breakpoint.className);
                        }
                    }

                    this._element.className = classNames.join(' ');
                }).bind(this);

                this._interval = null;
            }

            ResponsiveClassNames.prototype.init = function() {
                if (this._options.updateOnResize) {
                    window.addEventListener('resize', this._update);
                }
                if (this._options.updateInterval) {
                    this._interval = setInterval(this._update, this._options.updateInterval);
                }
                this._update();
            };

            ResponsiveClassNames.prototype.destroy = function() {
                if (this._options.updateOnResize) {
                    window.removeEventListener('resize', this._update);
                }
                if (this._options.updateInterval) {
                    clearInterval(this._interval);
                }

                this._element.className = this._defaultClassNames.join(' ');
            };

            return ResponsiveClassNames;
        })();

        var node = document.querySelector('<%= widgetContainerSelectors.items %>');
        if (node) {
            var instance = new ResponsiveClassNames(
                node,
                <%= JSON.stringify(responsiveClassNamesJSON) %>
            );

                instance.init();
        }
    </script>

    <script>
        (function() {
            function createElementToggleClassName(element, toggleClass) {
                return function() {
                    console.log('toggling');
                    var currentClass = element.className;
                    if(currentClass.split(" ").indexOf(toggleClass) > -1){
                        newClass = currentClass.replace(new RegExp('\\b' + toggleClass + '\\b','g'), "");
                    } else {
                        newClass = currentClass + " " + toggleClass;
                    }
                    element.className = newClass.trim();
                };
            }

            var container = document.querySelector('<%= widgetContainerSelectors.searchResults %>');
            if (!container) return false;

            var filters = container.querySelector('<%= widgetContainerSelectors.filters %>');
            var toggle = container.querySelector('<%= widgetContainerSelectors.filtersToggle %>');
            if (!filters || !toggle) return false;

            var toggleFiltersClassNameVisible = createElementToggleClassName(filters, 'persoo-search-results__filters--visible');
            toggle.addEventListener('click', toggleFiltersClassNameVisible);
        }());
    </script>

    <script type="text/javascript">
        <%= customJS %>
    </script>
</div>
