<div id="persoo--<%= offerID %>"
    data-inner-location-id="persoo-do-not-track-impressions-by-default"
    class="persoo-search-results<%= hideOnEmptyInput ? ' persoo-hidden' : '' %>"
>
    <style type="text/css">
        <%= customCSS %>
    </style>

    <%= layoutHTML %>

    <% if (showFulltextFilter) { %>
        <div id="persoo-sb-template-<%= offerID %>" style="display:none;">
            <%= searchBarHTML %>
        </div>
        <script>
        (function() {
    var containerElem = document.querySelector(
        '<%= widgetContainerSelectors.searchBar %>'
    );
    if (containerElem) {
        var contentElem = document.getElementById(
            'persoo-sb-template-<%= offerID %>'
        );
        containerElem.innerHTML = contentElem.innerHTML;
    } else {
        console.warn(
            'Persoo Search Results: external search bar selector ' +
                '"<%= widgetContainerSelectors.searchBar %>" does not match any element in page.'
        );
    }
})();
</script>
    <% } %>

    <script>
        (function () {
            <% if (showFilters) { %>
                <%  /* Add HTML containers into MultiRefinementList container */
                    var multiContainerID = widgetContainerSelectors.filters.replace('#','');
                    var containerIDs = [];
                    for (var g=0; g < filtersGroups.length; g++) {
                        if (!filtersGroups[g].containerSelector) {
                            containerIDs.push(multiContainerID + '_' + filtersGroups[g].attributeName);
                        }
                    }
                %>
                var multiRefinementsContainerElem = document.getElementById("<%= multiContainerID %>");

                if (multiRefinementsContainerElem) {
                    var innerContainerIDs = <%=  JSON.stringify(containerIDs) %>;
                    innerContainerIDs.forEach( function(myID) {
                        var elem = document.createElement("div");
                        elem.id = myID;
                        multiRefinementsContainerElem.appendChild(elem);
                    });
                }
            <% } %>

            function initInstantSearch() {
                var search = persooInstantSearch({
                    algorithmID: "<%= searchAlgorithm %>",
                    index: "products",
                    hideOnEmptyQuery: <%= hideOnEmptyInput %>,
                    urlSync: <%= !urlSync ? 'false' : JSON.stringify({
                        mapping: urlSyncMapping,
                        trackedParameters: urlSyncTrackedParameters,
                        threshold: urlSyncThreshold,
                        useHash: urlSyncUseHash
                    }) %>
                });
                <%
                function addTemplate(templateField, options) {
                    return 'persooInstantSearch.EJS(' +
                            JSON.stringify(templateField) +
                            (options ? ', ' + JSON.stringify(options) : '') +
                        ')';
                }
                /* We need to generate "JSON with javascript calls" to be send as js to browser. */
                function wrapTemplate(code) {
                    return '$CLEAN_QUOTE_BEFORE' + code + '$CLEAN_QUOTE_AFTER';
                }
                function unwrapTemplates(json) {
                    var parts = json.split(/"\$CLEAN_QUOTE_BEFORE|\$CLEAN_QUOTE_AFTER"/);
                    for (var i = 0; i < parts.length; i++) {
                        if (i % 2 == 1) {
                            parts[i] = parts[i]
                                .replace(/\\"/g, '"')
                                .replace(/\\\\/g, '\\')
                                .replace(/\\n/g, '\n');
                        }
                    }
                    return parts.join('');
                }

                function addClassNamesFor(widget, defaults, doStringify) {
                    var cssClasses = defaults;
                    var userClasses = customClassNamesJSON[widget];
                    if (userClasses) {
                        for (var i in userClasses) {
                            cssClasses[i] = (cssClasses[i] ? cssClasses[i] + ' ' : '') + userClasses[i];
                        }
                    }
                    return doStringify ? JSON.stringify(cssClasses) : cssClasses;
                }
                function addCollapsibleOptionTo(config, collapsible, collapsed) {
                    if (collapsible) {
                        config.collapsible = { collapsed: !!collapsed };
                    } else {
                        config.collapsible = false;
                    }
                }
                function addShowMoreOptionTo(config, showMore, showMoreLimit) {
                    if (showMore) {
                        var limit = config.limit;
                        config.showMore = {
                            limit: limit < showMoreLimit ? showMoreLimit : limit,
                            templates: {
                                active: wrapTemplate(addTemplate(
                                    '<div class="persoo-show-more persoo-show-more--active">' + showMoreActiveTemplate + '</div>')),
                                inactive: wrapTemplate(addTemplate(
                                    '<div class="persoo-show-more persoo-show-more--inactive">' + showMoreInactiveTemplate + '</div>'))
                            }
                        };
                    } else {
                        config.showMore = false;
                    }
                }
                %>

                function setHiddenClass(elem, isVisible) {
                    if (elem) {
                        if (isVisible) {
                            elem.className = elem.className.replace(/\s*persoo-hidden/g,'');
                        } else {
                            if (!(elem.className.indexOf('persoo-hidden') >= 0)) {
                                elem.className += ' persoo-hidden';
                            }
                        }
                    }
                }

                search.addWidget(
                    persooInstantSearch.widgets.<%= (paginationType == 'infiniteItems' ? 'infiniteHits' : 'hits') %>({
                        container: '<%= widgetContainerSelectors.items %>',
                        hitsPerPage: <%= itemsPerPage %>,
                        <%=
                        	paginationType == 'infiniteItems' ?
                        		'showMoreLabel: "' + showMoreHitsLabel + '",' :
                        		''
                        %>
                        templates: {
                            item: <%= addTemplate(itemTemplate, {_with: false, localsName: 'item'}) %>,
                            empty: <%= addTemplate(emptyResultsTemplate) %>
                        },
                        cssClasses: <%= addClassNamesFor(paginationType == 'infiniteItems' ? 'infiniteHits' : 'hits', {}, true) %>
                    })
                );
                <% if (paginationType == 'pagination') { %>
                    search.addWidget(
                        persooInstantSearch.widgets.pagination({
                            container: '<%= widgetContainerSelectors.pagination %>',
                            cssClasses: <%= addClassNamesFor('pagination', {}, true) %>,
                            labels: {
                        		previous: "<span class=\"persoo-pagination__label\">‹</span>",
                            	next: "<span class=\"persoo-pagination__label\">›</span>",
                            	first: "<span class=\"persoo-pagination__label\">«</span>",
                            	last: "<span class=\"persoo-pagination__label\">»</span>"
                        	}
                        })
                    );
                    <% if (showItemsPerPage) { %>
                        search.addWidget(
                            persooInstantSearch.widgets.hitsPerPageSelector({
                                container: '<%= widgetContainerSelectors.itemsPerPage %>',
                                <%
                                    var itemsPerPageAsList = itemsPerPageValues.split(/\s*,\s*/);
                                    var itemsPersPageOptions = JSON.stringify(itemsPerPageAsList.map(function (item){
                                        return {
                                                value: item,
                                                label: item + itemsPerPageSuffixTemplate
                                        };
                                    }))
                                %>
                                autoHideContainer: true,
                                options: <%= itemsPersPageOptions %>,  // default is defined in hits widget
                                cssClasses: <%= addClassNamesFor('hitsPerPageSelector', {}, true) %>
                            })
                        );
                    <% } %>
                <% } %>

                <% if (showSortBy) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.sortBySelector({
                            container: '<%= widgetContainerSelectors.sortBy %>',
                            <%
                                var sortIndices = sortByOptions.map(function (item) {
                                    var name = 'products';
                                    if (item.attribute) {
                                        name += '_' + item.attribute + '_' + (item.order ? item.order : 'asc');
                                    }
                                    return {
                                        name: name,
                                        label: item.label
                                    }
                                });
                            %>
                            indices: <%= JSON.stringify(sortIndices) %>,
                            cssClasses: <%= addClassNamesFor('sortBySelector', {}, true) %>
                        })
                    );
                <% } %>
                <% if (showStats) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.stats({
                            container: '<%= widgetContainerSelectors.stats %>',
                            templates: {
                                body: <%= addTemplate(statsTemplate) %>
                            },
                            cssClasses: <%= addClassNamesFor('stats', {}, true) %>
                        })
                    );
                <% } %>
                <% if (showHeader) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.header({
                            container: '<%= widgetContainerSelectors.header %>',
                            templates: {
                                root: <%= addTemplate(headerTemplate) %>
                            },
                            cssClasses: <%= addClassNamesFor('header', {}, true) %>
                        })
                    );
                <% } %>
                <% if (showClearAll) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.clearAll({
                            container: '<%= widgetContainerSelectors.clearAll %>',
                            templates: {
                                link: 'Reset everything but fulltext'
                            },
                            cssClasses: <%= addClassNamesFor('clearAll', {}, true) %>,
                            autoHideContainer: false
                        })
                    );
                <% } %>
                <% if (showCurrentRefinedValues) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.currentRefinedValues({
                            container: '<%= widgetContainerSelectors.currentRefinedValues %>',
                            clearAll: 'after',
                            templates: {
                                header: <%= addTemplate(currentRefinedValuesHeaderTemplate) %>,
                                /* TODO: is there a better way to pass custom EJS template to page? */
                                item: function(data) {
                                    function filterFn(config) {
                                        return data.attributeName === config.attributeName;
                                    }
                                    /* hiearchal filter do not have atributeName, it has field attributes */
                                    var filterConfig = <%= JSON.stringify(filtersGroups) %>.filter(filterFn)[0] || {};

                                    switch(filterConfig.type) {
                                        case 'rangeSlider':
                                            return (
                                                persooInstantSearch.EJS(filterConfig.headerTemplate)() +
                                                ' ' +
                                                data.displayOperator + ' ' +
                                                persooInstantSearch.EJS(filterConfig.format)({ rawValue: data.name })
                                            );

                                        default:
                                            return data.name
                                    }
                                },
                                clearAll: <%= addTemplate(currentRefinedValuesClearAllTemplate) %>
                            },
                            cssClasses: <%= addClassNamesFor('currentRefinedValues', {}, true) %>
                        })
                    );
                <% } %>

                <% if (showFulltextFilter) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.searchBox({
                            container: '<%= widgetContainerSelectors.fulltextFilter %>',
                            placeholder: '<%= fulltextFilterPlaceholder %>',
                            cssClasses: <%= addClassNamesFor('searchBox', {}, true) %>
                        })
                    );
                <% } %>

                <% if (showFilters) {
                    function getWidgetType(type) {
                        switch(type) {
                            case 'refinementColorList':
                            case 'refinementButtonList':
                                return 'refinementList';
                            default:
                                return type;
                        }
                    }

                    function applyRefinementListOptionsToConfig(config) {
                        config.operator = 'or';
                        config.sortBy = ['isRefined', 'count:desc', 'name:asc'];
                    }

                    for (var g=0; g < filtersGroups.length; g++) {
                        var showFilter = true;
                        var multiRefinementContainerID = widgetContainerSelectors.filters + '_' + filtersGroups[g].attributeName;
                        var filterConfig = {
                            container: filtersGroups[g].containerSelector || multiRefinementContainerID,
                            attributeName: filtersGroups[g].attributeName,
                            templates: {
                                header: wrapTemplate(addTemplate(filtersGroups[g].headerTemplate))
                            },
                            limit: filtersGroups[g].limit || filtersLimit,
                            cssClasses: addClassNamesFor(filtersGroups[g].type, filtersGroups[g].classNames || {})
                        };
                        addShowMoreOptionTo(
                            filterConfig,
                            typeof filtersGroups[g].showMore === 'boolean'
                                ? filtersGroups[g].showMore
                                : filtersShowMore,
                            typeof filtersGroups[g].showMoreLimit === 'number'
                                ? filtersGroups[g].showMoreLimit
                                : filtersShowMoreLimit
                        );
                        addCollapsibleOptionTo(
                            filterConfig,
                            typeof filtersGroups[g].collapsible === 'boolean'
                                ? filtersGroups[g].collapsible
                                : filtersCollapsible,
                            filtersGroups[g].collapsed
                        );

                        /* extra filter config by type */
                        switch (filtersGroups[g].type) {
                            case 'menu':
                                break;
                            case 'hierarchicalMenu':
                                delete filterConfig.attributeName;
                                filterConfig.attributes = filtersGroups[g].attributes.split(/\s*,\s*/)
                                break;
                            case 'refinementList':
                                applyRefinementListOptionsToConfig(filterConfig);
                                break;
                            case 'refinementColorList':
                                applyRefinementListOptionsToConfig(filterConfig);
                                filterConfig.templates.item = wrapTemplate(function(data) {
                                    var parts = [
                                        '<div class="' + data.cssClasses.label + '">',
                                            '<button class="' + data.cssClasses.checkbox + '"',
                                                'title="' + data.name + ' (' + data.count + ')"',
                                                'data-value="' + data.name + '"',
                                            '>',
                                            '</button>',
                                            data.name,
                                            '<span class="' + data.cssClasses.count + '">',
                                                data.count,
                                            '</span>',
                                        '</div>'
                                    ];
                                    return parts.join(' ');
                                });
                                break;
                            case 'refinementButtonList':
                                applyRefinementListOptionsToConfig(filterConfig);
                                filterConfig.templates.item = wrapTemplate(function(data) {
                                    var parts = [
                                        '<div class="' + data.cssClasses.label + '"',
                                            'title="' + data.name + ' (' + data.count + ')"',
                                        '>',
                                            '<button class="' + data.cssClasses.checkbox + '" >',
                                                data.name,
                                            '</button>',
                                        '</div>'
                                    ];
                                    return parts.join(' ');
                                });
                                break;
                            case 'rangeSlider':
                                if (filtersGroups[g].format) {
                                    filterConfig.tooltips = {
                                        format: wrapTemplate(addTemplate(filtersGroups[g].format, {_with: false, localsName: 'rawValue'}))
                                    };
                                }
                                filterConfig.pips = filtersGroups[g].pips || false;
                                filterConfig.templates.footer = '<span class="persoo-rangeSlider__value persoo-rangeSlider__value--lower"></span><span class="persoo-rangeSlider__value persoo-rangeSlider__value--upper"></span>';
                                break;
                            default:
                                showFilter = false;
                                %>
                                    console.warn('Persoo Search Results: unknown filter type in <%= JSON.stringify(filtersGroups[g]) %>.');
                                <%
                        }
                        if (showFilter) { %>
                            search.addWidget(
                                persooInstantSearch.widgets.<%= getWidgetType(filtersGroups[g].type) %>(<%= unwrapTemplates(JSON.stringify(filterConfig, false, 4)) %>)
                            );
                        <% } %>
                    <% } %>
                <% } %>

                <% if (analyticsPushFunction.match(/^\s*function\s+push\(/)) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.analytics({
                            pushFunction: function (formattedParameters, state, results) {
                                <%= analyticsPushFunction %>;
                                var filters = formattedParameters ? formattedParameters.split('&') : [];
                                filters = filters.map(function(filter) {
                                    var paramName = filter.substring(0, filter.indexOf('='));
                                    return filter.replace('=' + paramName + '_', '=');
                                });
                                window.persoo('send', 'impression', {
                                    locationID: '<%= locationID %>',
                                    offerID: '<%= offerID %>',
                                    query: state.query,
                                    filters: filters.map(decodeURIComponent),
                                    foundResultsCount: results.nbHits
                                });
                                push(filters.join('&'), state, results);
                            },
                            pushInitialSearch: <%= analyticsPushInitialSearch %>,
                            triggerOnUIInteraction: <%= analyticsTriggerOnUIInteraction %>,
                            delay: <%= analyticsTriggerDelay %>
                        })
                    );
                <% } %>
                <% if (showFulltextFilter && hideOnEmptyInput) { %>
                    function hideSearchResultsOnEmptyInput() {
                        var isEmptyQuery = (search.helper.getStateAsQueryString() == 'q=');
                        var searchResultsElem = document.querySelector('<%= widgetContainerSelectors.searchResults %>');
                        var originalPageContentElem = document.querySelector('<%= widgetContainerSelectors.originalPageContent %>');
                        setHiddenClass(searchResultsElem, !isEmptyQuery);
                        setHiddenClass(originalPageContentElem, isEmptyQuery);
                    }
                    search.setPersooCallback('show', hideSearchResultsOnEmptyInput);
                    search.setPersooCallback('hide', hideSearchResultsOnEmptyInput);
                <% } %>

                search.start();

                function activateSearchBarCross() {
                    var searchBarElem = document.querySelector('<%= widgetContainerSelectors.searchBar %>');

                    if (searchBarElem) {
                        var input = searchBarElem.querySelector('<%= widgetContainerSelectors.fulltextFilter %>');
                        var crossElem = searchBarElem.querySelector('.persoo-search-bar__clear-query');

                        if (input && crossElem) {
                            function conditionallyHideClearCross() {
                                crossElem.style.display = input.value ? 'inline' : 'none';
                            }

                            conditionallyHideClearCross();
                            input.addEventListener('input', conditionallyHideClearCross);
                            crossElem.addEventListener('click', function(e) {
                                search.helper.setQuery('').search();
                                crossElem.style.display = 'none';
                            });
                            search.on('render', conditionallyHideClearCross);
                        }
                    }
                }
                activateSearchBarCross();

                function activateRangeSlidersCustomFooter() {
                    function createRangeSlidersCustomFooterUpdater() {
                        function getTooltipNodes(rangeSliderBodyNode) {
                            return {
                                lower: rangeSliderBodyNode.querySelector(
                                    '.ais-range-slider--handle-lower .ais-range-slider--tooltip'
                                ),
                                upper: rangeSliderBodyNode.querySelector(
                                    '.ais-range-slider--handle-upper .ais-range-slider--tooltip'
                                )
                            };
                        }

                        function createUpdateNodes(rangeSliderBodyNode, footerNodes) {
                            function updateTarget(valueNode, targetNode) {
                                if (valueNode && targetNode && targetNode.innerHTML !== valueNode.innerHTML) {
                                    targetNode.innerHTML = valueNode.innerHTML;
                                }
                            }

                            return function updateNodes() {
                                var tooltipNodes = getTooltipNodes(rangeSliderBodyNode);
                                updateTarget(tooltipNodes.lower, footerNodes.lower);
                                updateTarget(tooltipNodes.upper, footerNodes.upper);
                            }
                        }

                        function initObserver(rangeSliderBodyNode, footerNodes) {
                            var updateNodes = createUpdateNodes(rangeSliderBodyNode, footerNodes);
                            updateNodes();

                            var observer = new MutationObserver(
                                function(mutations) {
                                    mutations.forEach(function(mutation) {
                                        updateNodes();
                                    });
                                }
                            );
                            observer.observe(rangeSliderBodyNode, { childList: true, subtree: true });

                            return observer.disconnect;
                        }

                        function initListener(rangeSliderBodyNode, footerNodes) {
                            var updateNodes = createUpdateNodes(rangeSliderBodyNode, footerNodes);
                            updateNodes();

                            rangeSliderBodyNode.addEventListener('DOMSubtreeModified', updateNodes);

                            return function() {
                                rangeSliderBodyNode.removeEventListener('DOMSubtreeModified', updateNodes);
                            };
                        }

                        function initRangeSlider(rangeSliderNode) {
                            var rangeSliderBodyNode = rangeSliderNode.querySelector('.ais-range-slider--body');
                            var footerNodes = {
                                lower: rangeSliderNode.querySelector('.persoo-rangeSlider__value--lower'),
                                upper: rangeSliderNode.querySelector('.persoo-rangeSlider__value--upper')
                            };
                            var nodesFound = rangeSliderBodyNode && footerNodes.lower && footerNodes.upper && true;

                            // FIXME - check state of MutationObserver,
                            // in chrome 56 and older is called in childList bulk only
                            if (nodesFound && typeof MutationObserver === 'function' && false) {
                                return initObserver(rangeSliderBodyNode, footerNodes);
                            } else if (nodesFound) {
                                return initListener(rangeSliderBodyNode, footerNodes);
                            }

                            return null;
                        }

                        var rangeSlidersState = {};

                        return function initRangeSlidersCustomFooter() {
                            var rangeSliders = document.querySelectorAll('.ais-range-slider');
                            var initedRangeSlidersIDs = Object.keys(rangeSlidersState);
                            var actualRangeSlidersIDs = [];

                            if (rangeSliders && rangeSliders.length > 0) {
                            	for (var i = 0, length = rangeSliders.length; i < length; i++) {
                                    var rangeSlider = rangeSliders[i];
                    				var rangeSliderID = rangeSlider.parentNode.parentNode.id;
                                    actualRangeSlidersIDs.push(rangeSliderID);

                    				if(!rangeSlidersState[rangeSliderID]) {
                                        rangeSlidersState[rangeSliderID] = {
                                            rangeSlider: rangeSlider,
                                            destroy: initRangeSlider(rangeSlider)
                                        };
                                    }
                                }
                            }

                            for (var i = 0, length = initedRangeSlidersIDs.length; i < length; i++) {
                                var testedID = initedRangeSlidersIDs[i];

                                if (actualRangeSlidersIDs.indexOf(testedID) < 0) {
                                    rangeSlidersState[testedID].destroy();
                                    delete rangeSlidersState[testedID];
                                }
                            }
                        }
                    }

                    search.helper.on('result', createRangeSlidersCustomFooterUpdater());
                }
                activateRangeSlidersCustomFooter();

                search.helper.on('result', function(state) {
                    var filtersElem = document.querySelector('<%= widgetContainerSelectors.filters %>');
                    setHiddenClass(filtersElem, state.nbHits > 0);
                });
            }
            function loadScript(url, onloadFn, errorFn) {var d = document; var s=d.createElement("script");
                s.src=url,s.type="text/javascript",s.async=true,s.onerror=errorFn,s.onload=onloadFn;
                d.getElementsByTagName("head")[0].appendChild(s)};

            var isLibLink = "https://scripts.persoo.cz/shared/instantsearchV1/persooInstantSearch.js";
            loadScript(isLibLink, initInstantSearch, function (){});
        })();
    </script>

    <script>
        var ResponsiveClassNames = (function() {
            function prepareOptions(defaultOptions, extraOptions) {
                var options = Object(defaultOptions);
                for (var key in extraOptions) {
                    if (extraOptions.hasOwnProperty(key)) {
                        options[key] = extraOptions[key];
                    }
                }

                return options;
            }

            function ResponsiveClassNames(element, breakpoints, options) {
                this._element = element;
                this._defaultClassNames = this._element.className ? this._element.className.split(' ') : [];
                this._breakpoints = breakpoints;
                this._options = prepareOptions(
                    {
                        updateInterval: 300,
                        updateOnResize: false
                    },
                    options || {}
                );

                this._update = (function() {
                    var classNames = [].concat(this._defaultClassNames);
                    var width = this._element.offsetWidth;

                    for (var i = 0, length = this._breakpoints.length; i < length; i++) {
                        var breakpoint = this._breakpoints[i];
                        if ((!breakpoint.minWidth || breakpoint.minWidth <= width) &&
                            (!breakpoint.maxWidth || breakpoint.maxWidth >= width)) {

                            classNames.push(breakpoint.className);
                        }
                    }

                    this._element.className = classNames.join(' ');
                }).bind(this);

                this._interval = null;
            }

            ResponsiveClassNames.prototype.init = function() {
                if (this._options.updateOnResize) {
                    window.addEventListener('resize', this._update);
                }
                if (this._options.updateInterval) {
                    this._interval = setInterval(this._update, this._options.updateInterval);
                }
                this._update();
            };

            ResponsiveClassNames.prototype.destroy = function() {
                if (this._options.updateOnResize) {
                    window.removeEventListener('resize', this._update);
                }
                if (this._options.updateInterval) {
                    clearInterval(this._interval);
                }

                this._element.className = this._defaultClassNames.join(' ');
            };

            return ResponsiveClassNames;
        })();

        var node = document.querySelector('<%= widgetContainerSelectors.items %>');
        if (node) {
            var instance = new ResponsiveClassNames(node, <%= JSON.stringify(responsiveClassNamesJSON) %>);
            instance.init();
        }
    </script>

    <script>
    (function() {
    function createElementToggleClassName(element, toggleClass) {
        return function() {
            var currentClass = element.className;

            if (currentClass.split(' ').indexOf(toggleClass) > -1) {
                newClass = currentClass.replace(
                    new RegExp('\\b' + toggleClass + '\\b', 'g'),
                    ''
                );
            } else {
                newClass = currentClass + ' ' + toggleClass;
            }
            element.className = newClass.trim();
        };
    }

    var container = document.querySelector(
        '<%= widgetContainerSelectors.searchResults %>'
    );
    if (container) {
        var filters = container.querySelector(
            '<%= widgetContainerSelectors.filters %>'
        );
        var toggle = container.querySelector(
            '<%= widgetContainerSelectors.filtersToggle %>'
        );

        if (filters && toggle) {
            var toggleFiltersClassNameVisible = createElementToggleClassName(
                filters,
                'persoo-search-results__filters--visible'
            );
            toggle.addEventListener('click', toggleFiltersClassNameVisible);
        }
    }
})();
</script>

    <script type="text/javascript">
        <%= customJS %>
    </script>
</div>
