
<%
    var offerID = offerID || 'randomOfferID';
    var priceSufix = '&nbsp;Kč';

    function printTemplateFunctionsAsJSON(templates) {
        var html = "{";
        for (var key in templates) {
            if (html != "{") {
                 html += ',';
            }
            var templateFunction = templates[key];
            if (typeof templateFunction == 'function') {
                templateFunction = templateFunction.toString();
            }
            html += key + ": " + templateFunction;
        }
        return html + "}";
    }

    function renderTemplateFunction(pattern) {
        return (function (data) {
            return "$pattern".replace(/\$query/g, data.query).replace(/\$count/g, data.count);
        }).toString().replace(/\$pattern/, pattern);
    };
    function renderTemplateFunctionIfNonEmpty(pattern) {
        return (function (data) {
            if (data.isEmpty) {
                return "";
            } else {
                return "$pattern".replace(/\$query/g, data.query).replace(/\$count/g, data.count);
            }
        }).toString().replace(/\$pattern/, pattern);
    };
%>
<div>
    <% /* prerequisities to see something in the preview */ %>
    <%
       var debug = true;
       if (debug) {
    %>
    <script type="text/javascript">
          /* delete preview mock and load real persoo.js */
          delete window.persoo;

          /* Persoo account for testing real requests */
          dataLayer = [{
              pageType: 'search'
          }];
          var persooConfig = {
              apikey: 'g8i7fdao17r5fpn2u72ph4rd',     // hanibal.cz (test-a clone)
              persooName: 'persoo',
              dataLayerName: 'dataLayer',
              settings_tolerance: 2000,  // for loading persoo.js
              personalizations_tolerance: 2500,    // for showing personalizations
              rtpHostname: "rtp-test-a.persoo.cz:8081",
              rtpProtocol: 'http:',
              scriptsHostname: "//s3-eu-west-1.amazonaws.com/cz.persoo.test-a.javascripts/"
          };
          /*! Persoo js client 2015-03-16 */
          var persooLoader=function(a,b,c,d,e){var f=d.persooName,g="_persoo_hide_body";return{hideBody:
          function(){var b=a.createElement("style"),c="body{opacity:0 !important;filter:alpha(opacity=0)"
          +" !important;background:none !important;}",d=a.getElementsByTagName("head")[0];b.setAttribute(
          "id",g),b.setAttribute("type","text/css"),b.styleSheet?b.styleSheet.cssText=c:b.appendChild(
          a.createTextNode(c)),d.appendChild(b)},finish:function(){if(!c){c=!0;var b=a.getElementById(g);b&&
          b.parentNode.removeChild(b)}},loadScript:function(b){var c=a.createElement("script");c.src=b,c.type
          ="text/javascript",c.onerror=function(){persooLoader.finish()},a.getElementsByTagName("head")[0
          ].appendChild(c)},init:function(){b[f]=b[f]||function(){(b[f].q=b[f].q||[]).push([].slice.call(
          arguments))},b[f].l=1*new Date,b[f].apikey=d.apikey,b[f].dataLayerName=d.dataLayerName;var c=
          a.cookie.match("(^|; )"+e+"=([^;]*)"),g=location.search.match("[?&]"+e+"=([^&]*)"),h=g?g[1]:c?c[2]:
          "p";d.settings_tolerance>0&&(setTimeout(this.finish,d.settings_tolerance),this.hideBody());var i=(
          d.scriptsHostname||"//scripts.persoo.cz/")+d.apikey+"/"+h;this.loadScript(i+"/actions.js"),
          this.loadScript(i+"/persoo.js")}}}(document,window,!1,persooConfig,"persooEnvironment");persooLoader.init();
    </script>
    <% } %>

    <%= layoutTemplate %>

    <style type="text/css">
        <%= customCSS %>
    </style>

    <script>
        var persoo_<%= offerID %> = (function () {
            function initInstantSearch() {
                var search = persooInstantSearch({
                    algorithmID: "<%= searchAlgorithm %>",
                    urlSync: <%= urlSync %>
                });
                <%
                function addCollapsibleOption(collapsible, collapsed) {
                    if (collapsible) {
                        return 'collapsible: { collapsed: ' + !!collapsed + '}';
                    } else {
                        return 'collapsible: false';
                    }
                }
                function addShowMoreOption(showMore, limit) {
                    if (showMore) {
                        return 'showMore: { limit: ' + limit + '}';
                        /* FIXME custom templates do not have classNames
                        /*    ', ' +
                        /*    'templates: { active: "' + showMoreActiveTemplate + '", ' +
                        /*    'inactive: "' + showMoreInactiveTemplate + '"}}'; */
                    } else {
                        return 'showMore: false';
                    }
                }
                %>

                search.addWidget(
                    persooInstantSearch.widgets.hits({
                        container: '<%= itemsContainerSelector %>',
                        hitsPerPage: <%= itemsPerPage %>,
                        templates: {
                            item: '<%= itemTemplate %>',
                            empty: '<%= emptyResultsTemplate %>'
                        },
                        cssClasses: {
                            item: "persoo-result-item"
                        }
                    })
                );
                <% if (showPagination) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.pagination({
                            container: '<%= paginationContainerSelector %>'
                        })
                    );
                <% } %>
                <% if (showItemsPerPage) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.hitsPerPageSelector({
                            container: '<%= itemsPerPageContainerSelector %>',
                            <%
                                var itemsPerPageAsList = itemsPerPageValues.split(/\s*,\s*/);
                                var itemsPersPageOptions = JSON.stringify(itemsPerPageAsList.map(function (item){
                                    return {
                                            value: item,
                                            label: item + itemsPerPageSuffixTemplate
                                    };
                                }))
                            %>
                            autoHideContainer: true,
                            options: <%= itemsPersPageOptions %>
                            // default is defined in hits widget
                        })
                    );
                <% } %>
                <% if (showStats) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.stats({
                            container: '<%= statsContainerSelector %>',
                            templates: {
                                body: '<%= statsTemplate %>'
                            }
                        })
                    );
                <% } %>

                <% if (showClearAll) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.clearAll({
                            container: '<%= clearAllContainerSelector %>',
                            templates: {
                                link: 'Reset everything but fulltext'
                            },
                            autoHideContainer: false
                        })
                    );
                <% } %>
                <% if (showCurrentRefinedValues) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.currentRefinedValues({
                            container: '<%= currentRefinedValuesContainerSelector %>',
                            clearAll: 'after',
                            templates: {
                                header: '<%= currentRefinedValuesHeader %>'
                            },
                            cssClasses: {
                                root: "facet",
                                count: "facet-count"
                            }
                        })
                    );
                <% } %>

                <% if (showFulltextFilter) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.searchBox({
                            container: '<%= fulltextFilterContainerSelector %>',
                            placeholder: '<%= fulltextFilterPlaceholder %>'
                        })
                    );
                <% } %>

                <% if (showMenu) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.menu({
                            container: '<%= menuContainerSelector %>',
                            attributeName: '<%= menuAttributeName %>',
                            limit: '<%= menuLimit %>',
                            <%= addCollapsibleOption(menuCollapsible, menuCollapsed) %>,
                            templates: {
                                header: '<%= menuHeader %>'
                            },
                            cssClasses: {
                                root: "facet",
                                count: "facet-count"
                            }
                        })
                    );
                <% } %>
                <% if (showHierarchicalMenu) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.hierarchicalMenu({
                            container: '<%= hierarchicalMenuContainerSelector %>',
                            <% var hierarchicalMenuParsedAttrNames = hierarchicalMenuAttributeNames.split(/\s*,\s*/); %>
                            attributes: <%= JSON.stringify(hierarchicalMenuParsedAttrNames) %>,
                            limit: '<%= hierarchicalMenuLimit %>',
                            <%= addCollapsibleOption(hierarchicalMenuCollapsible, hierarchicalMenuCollapsed) %>,
                            templates: {
                                header: '<%= hierarchicalMenuHeader %>'
                            },
                            cssClasses: {
                                root: "facet",
                                count: "facet-count"
                            }
                        })
                    );
                <% } %>

                <% if (showRefinementLilst1) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.refinementList({
                            container: '<%= refinementList1ContainerSelector %>',
                            attributeName: '<%= refinementList1AttributeName %>',
                            operator: 'or',
                            templates: {
                                header: '<%= refinementList1Header %>'
                            },
                            limit: <%= refinementList1Limit %>,
                            <%= addShowMoreOption(refinementList1ShowMore, refinementList1ShowMoreLimit) %>,
                            <%= addCollapsibleOption(refinementList1Collapsible, refinementList1Collapsed) %>,
                            cssClasses: {
                                root: "facet",
                                count: "facet-count"
                            }
                        })
                    );
                <% } %>

                <% if (showRefinementLilst2) { %>
                    search.addWidget(
                        persooInstantSearch.widgets.refinementList({
                            container: '<%= refinementList2ContainerSelector %>',
                            attributeName: '<%= refinementList2AttributeName %>',
                            operator: 'or',
                            templates: {
                                header: '<%= refinementList2Header %>'
                            },
                            limit: <%= refinementList2Limit %>,
                            <%= addShowMoreOption(refinementList2ShowMore, refinementList2ShowMoreLimit) %>,
                            <%= addCollapsibleOption(refinementList2Collapsible, refinementList2Collapsed) %>,
                            cssClasses: {
                                root: "facet",
                                count: "facet-count"
                            }
                        })
                    );
                <% } %>

                search.start();

                function activateSearchBarCross() {
                    var searcBarElem = document.querySelector('.persoo-search-bar-wrapper');
                    var input = searcBarElem.querySelector('input');

                    conditionallyHideClearCross();
                    input.addEventListener('input', conditionallyHideClearCross);
                    searcBarElem.querySelector('.persoo-clear-query').addEventListener('click', function(e) {
                        search.helper.setQuery('').search();
                        conditionallyHideClearCross();
                    });

                    function conditionallyHideClearCross(e) {
                        var crossElem = searcBarElem.querySelector('.persoo-clear-query');
                        crossElem.style.display = input.value ? 'inline' : 'none';
                    }
                }
                activateSearchBarCross();
            }
            function loadScript(url, onloadFn, errorFn) {var d = document; var s=d.createElement("script");
                s.src=url,s.type="text/javascript",s.async=true,s.onerror=errorFn,s.onload=onloadFn;
                d.getElementsByTagName("head")[0].appendChild(s)};

            var isLibLink = "https://scripts.persoo.cz/shared/instantsearchV1/persooInstantSearch.js";
            loadScript(isLibLink, initInstantSearch, function (){});
        })();
    </script>

    <script type="text/javascript">
        <%= customJS %>
    </script>
</div>
